<li class="nav-item dropdown hidden-caret">
    <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell menu-icon-c"></i>
        <span class="notification">0</span>
    </a>
    <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
        <li>
            <div id="dropdown-title" class="dropdown-title">You have 0 new notification</div>
        </li>
        <li>
            <div class="notif-scroll scrollbar-outer">
                <div class="notif-center" id="notiContent">
                   
                   
                </div>
            </div>
        </li>
        <li>
            <a class="see-all" href="~/Dashboard/AllNotification">See all notifications<i class="fa fa-angle-right"></i> </a>
        </li>
    </ul>
</li>

<li class="nav-item dropdown hidden-caret">
    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
        <div class="avatar-sm">
            <img src="data:image;base64,@HttpContext.Current.Session["LoginName"]" alt="..." class="avatar-img rounded-circle">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-user animated fadeIn">
        <div class="dropdown-user-scroll scrollbar-outer">
            <li>
                <div class="user-box">
                    @Html.Hidden("hdnuser", @HttpContext.Current.Session["LoginName"])
                    <div class="avatar-lg"><img src="data:image;base64,@HttpContext.Current.Session["LoginName"]" alt="image profile" class="avatar-img rounded" id="Profilimg"></div>
                    <div class="u-text">
                        <h6>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <b> <span> Welcome </span> @User.Identity.Name.ToUpper() </b>;
                            }
                        </h6>
                        @*<p class="text-muted">hello@example.com</p>*@
                        <a href="/HR/Employees/ViewProfile" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                    </div>
                </div>
            </li>
            <li>

                <div class="dropdown-divider"></div>
                @*<a class="dropdown-item" href="/HR/Employees/ViewProfile">My Profile</a>*@
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ChangePasswordPopup">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Account Setting</a>
                <div class="dropdown-divider"></div>
                @using (Html.BeginForm("/SignOut", "Account", new { area = "" }, FormMethod.Post, new { @class = "dropdown-item", @role = "form" }))
                {
                    <a href="javascript:;" onclick="document.forms[0].submit();">Sign Out</a>
                }

            </li>
        </div>
    </ul>
</li>

