
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


    <div class="main-panel">
        <div class="container">

            <div class="page-inner">
              
                <div class="rowmin">
                    <h1 style="font-family: Georgia, serif; color: #4a4a4a; margin-top: 4em; line-height: 1.5;">
                        ACCESS NOT GRANTED
                    </h1>

                    <h2 style="  font-family: Verdana, sans-serif; color: #7d7d7d; font-weight: 300;">
                        403. Page Not Authorization.
                    </h2>

                    </div>
                </div>
            </div>
        </div>

