@model List<RDDStaffPortal.DAL.DataModels.RDD_RightSide>

@if (Model.Count() > 0 && Model != null)
{
    @RDD_RighSide.GetRightSide(Model)
}
else
{
    <div class="col-md-12 padd-l0">
        <div class="card">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" class="form-control" id="Search-1-QuickLinks" placeholder="Search Forms- Quick Links">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="demo-scrollbar-130 scrollbar-inner">
                    <ul class="widgets-list" id="Forms-1">

                       

                            
                    </ul>
                </div>

            </div>

        </div>
    </div>
}

<div class="col-md-12 padd-l0">
    <div class="card">
        <div class="card-header">
            <div class="input-group">
                <input type="text" class="form-control" id="SearchFormsQuickLinks" placeholder="Search - Tasks">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="demo-scrollbar-200 scrollbar-inner">
                <ul class="widgets-list">
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Approval Request - PV (2) </a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Approval Request - PO (3) </a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Approval Request - SOR (10) </a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Approval Request - Leave (4) </a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Todays customer visits(10)</a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> Funnel Reminder(2)</a></li>
                    <li><a href="#"><i class="fas fa-hand-point-right"></i> PDC to be deposited in Bank(5)</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>
