
@{
    ViewBag.Title = "Department Master";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<script src="~/Scripts/Application/Dashboardjs.js"></script>
<div class="main-panel">
    <div class="container">

        <div class="page-inner">
            <div class="loader1"></div>
            <div class="rowmin row allwidgets">

                <div class="col-12 col-md-9 padd-0">
                    <div class="leftwidgets">
                        @{ Html.RenderAction("GetDashBoardView", "Account");}
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="rightwidgets">
                        <div class="row rights1">
                            @{ Html.RenderAction("GetRightSide", "Dashboard");}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="NotifyModal"></div>

<div  class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header  alert alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome</h4>
            </div>
            <div class="modal-body">
                <p>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div></p>
      </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="SelectWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-80per modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Select Widgets</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body selectwidget-section">
                <div class="demo-scrollbar scrollbar-inner" style="max-height: 300px">
                    @{ Html.RenderAction("GetUserWidget", "UserRights", new { area = "Admin" }); }
                </div>




            </div>
            <div class="modal-footer">
                <button id="btnsave" type="button" class="btn btn-success btn-sm">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="NewTaskWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="NewTaskWidgetspopup" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-80per modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body selectwidget-section">





            </div>
            <div class="modal-footer">
                <button id="btnsave1" type="button" class="btn btn-success btn-sm">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*@{ Html.RenderAction("GetMenuTree", "Account"); }*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    .demo-scrollbar {
        height: 300px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.scrollbar-inner').scrollbar();
       


        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/GetNotify_message",
            contentType: "Application/json",
            dataType: 'JSON',
            success: function (response) {
                debugger
                //$("#NotifyModal").modal('show');
                var i = 0;
                while (response.data.length > i) {
                    //#region Modal 
                    $("#NotifyModal").append('<div id="NotifyModal' + response.data[i].Welcome_id + '" ></div>')
                    $("#NotifyModal" + response.data[i].Welcome_id).html('<div class="modal fade myModal"  id="Notify' + response.data[i].Welcome_id + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" keyboard="false" data-backdrop="static" show="false">' +

                        '<div class="modal-dialog">' +
                        '<div class="modal-content">' +
                        '<div class="modal-header">' +
                        '<h4 class="modal-title">' + response.data[i].Welcome_title+'</h4>' +
                        '<button type="button" data-id="' + response.data[i].Welcome_id +'" data-dismiss="modal" class="close">×</button>' +

                        '</div>' +
                        '<div class="modal-body">' +
                        '<div class="row">' +
                        '<div class="col-md-12 col-lg-12">' +

                        '' + response.data[i].Welcome_Message+'' +

                        '</div>' +
                        '</div>' +
                        '<div class="modal-footer">' +
                        '<button type="button" id="btnReminder' + response.data[i].Welcome_id + '" data-dismiss="modal" data-id="' + response.data[i].Welcome_id +'" class="btn btn-info btn-sm">Reminder Later</button>' +
                        '<button type="button" id="btnCancel' + response.data[i].Welcome_id + '" data-dismiss="modal" data-id="' + response.data[i].Welcome_id +'"   class="close-modal-button btn btn-default btn-sm" >cancel</button>' +

                        '</div>' +
                       

                        '</div > ' +
                        ' </div > ' +
                        '</div>')
                //#endregion

                   // $("#Notify" + response.data[i].Welcome_id).modal('show');
                    i++;

                }
                if (response.data.length == i) {
                    $('.myModal').modal();
                }

               
            } 
            
        })
        $(".close-modal-button,.close").on("click", function () {
            debugger
            var t = $(this).attr("data-id");
            var rdd = {
                Welcome_Id: $(this).attr("data-id"),
                Reminder:'N',
                Read:'Y'
            };
            $.post("/ReminderActivity", { rdd: rdd }, function (response) {
                //$("#NotifyModal" + t).modal('hide');

            });


        })
        $("[id^='btnReminder']").on("click", function () {
            debugger
            var t = $(this).attr("data-id");
          
            var rdd = {
                Welcome_Id: $(this).attr("data-id"),
                Reminder: 'Y',
                Read: 'Y'
            };
            $.post("/ReminderActivity", { rdd: rdd }, function (response) {
                //$("#NotifyModal" + t).modal('hide');
            });

        })


        
    });
</script>
<script type="text/javascript">

    $(function () {
        $("body").on("keyup", function () {

            var value = $("#Search-Forms-QuickLinks").val().toLowerCase();
            $("#Forms-1 li").find("a").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })


    $(document).ready(function () {

        $(".loader1").show();
        $(".allwidgets").hide();

        $("body").click(function (e) {
            $('.scrollbar-inner').scrollbar();
        });
        //$(function () {

        $("#widgetlist").append('<a class="col-6 col-md-4 p-0" href="#" data-toggle="modal" data-target="#SelectWidgetspopup">'
            + ' <div class="quick-actions-item">'
            + '  <div class="avatar-item bg-danger rounded-circle">'
            + '    <i class="fas fa-table"></i>'
            + ' </div>'
            + '<span class="text">Select Widgets</span>'
            + ' </div ></a>');

        $("#widgetlist").append('<a class="col-6 col-md-4 p-0" href="#" data-toggle="modal" data-target="#NewTaskWidgetspopup">'
            + ' <div class="quick-actions-item">'
            + '  <div class="avatar-item bg-danger rounded-circle">'
            + '    <i class="fas fa-table"></i>'
            + ' </div>'
            + '<span class="text">Create Task</span>'
            + ' </div ></a>');

        $(".edit").attr('title', 'Edit');
        $(".delete").attr('title', 'Delete');





        DashBoard.initialize();
        $(".allwidgets").show();

        $("button[class='swal2-confirm']").on("click", function () {
            debugger
            //location.reload();
            window.location = '/Dashboard/Index';
        });
        $(".loader1").hide();


    });
</script>

<style>
    .Abc {
        display: none !important;
    }
</style>
