
@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="~/Scripts/Application/MainDashBoard_V1.js"></script>
<link href="~/Content/extra-style.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="js/revenue-script.js" defer="defer"></script>
<script type="text/javascript" src="js/gp-script.js" defer="defer"></script> -->
<style>
    /*.chart-container {
        min-height:100%;
        position: relative;
    }*/
    .nav-pills.nav-pills-no-bd li .nav-link {
        border: 0 !important;
        border-radius: 5px !important;
        background: rgba(222, 222, 222, .4);
    }

        .nav-pills.nav-pills-no-bd li .nav-link.active {
            border-radius: 5px !important;
        }

    .nav-pills.nav-secondary .nav-link.active {
        background: #e64f3e;
        border: 1px solid #e7483e;
    }

    .nav-pills.nav-pills-no-bd li {
        margin-left: 3px !important;
    }

    .infoarea {
        display: inline-block;
        width: 100%;
        margin: 1% 1%;
        text-align: left;
        padding: 5px 10px;
    }


    .texthd {
        display: inline;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 24px;
    }

    .form-check label, .form-group label {
        margin-bottom: 0rem;
        color: #495057;
        font-weight: inherit;
        font-size: 1rem;
        font-weight: 600;
        /* white-space: nowrap; */
    }

    .form-check-label, .form-radio-label {
        margin-right: 0px;
    }

    .form-check-label {
        margin-bottom: 0;
    }

    label {
        font-size: 14px;
        font-weight: 600;
        color: #8d9498;
        margin-bottom: 0;
    }

    label {
        /* color: #495057!important; */
        font-size: 16px !important;
    }

    .timeline {
        list-style-type: none;
        position: relative;
        height: 250px;
        overflow: auto;
        width: 100%;
    }

        .timeline-item:before, .timeline:before {
            content: " ";
            display: inline-block;
            position: absolute;
            z-index: 1;
        }

        .timeline:before {
            background: #c3cad1;
            left: 9px !important;
            width: 2px;
            height: 100%;
        }

    .timeline-item:before {
        background: #fff;
        border-radius: 50%;
        border: 3px solid #3f80ea;
        left: -22px;
        width: 20px;
        height: 20px;
    }

    .timeline-item:before, .timeline:before {
        content: " ";
        display: inline-block;
        position: absolute;
        z-index: 1;
    }

    *, :after, :before {
        box-sizing: border-box;
    }

    .timeline > li:not(.timeline-inverted) {
        padding-right: 0px;
        margin-bottom: 12px !important;
    }

    li.timeline-item {
        font-size: 14px !important;
    }

    .choto-not {
        position: absolute;
        top: 37px;
        right: 18px;
        font-size: 12px;
    }

    .card .card-header, .card-light .card-header {
        padding: 0.30rem 1rem !important;
    }
</style>
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="loader1"></div>
            <div class="rowmin row">
                @*allwidgets*@

                <div class="col-12 col-md-9 padd-0">
                    <div class="leftwidgets">
                        @{ Html.RenderAction("GetDashBoardView_V1", "Account");}
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="rightwidgets">
                        <div class="row rights1">
                            @{ Html.RenderAction("GetRightSide", "Dashboard");}

                        </div>

                        <div class="row rights2">
                            @{ Html.RenderAction("GetRightSideTask", "Dashboard");}
                            <div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        <!-- Modal -->
        <div class="modal fade" id="SelectWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-80per modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Widgets</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body selectwidget-section">
                        <div class="demo-scrollbar scrollbar-inner" style="max-height: 300px">
                            @{ Html.RenderAction("GetUserWidget", "UserRights", new { area = "Admin" }); }
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button id="btnsave" type="button" class="btn btn-success btn-sm">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="NewTaskWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="NewTaskWidgetspopup" aria-hidden="true" keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-80per modal-dialog-centered " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">New Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body selectwidget-section">





                    </div>
                    <div class="modal-footer">
                        <button id="btnsave1" type="button" class="btn btn-success btn-sm">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="NewApprovalRequestWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="NewApprovalRequestWidgetspopup" aria-hidden="true" keyboard="false" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Requests</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body px-1 pb-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:20px" scope="col">#</th>
                                    <th scope="col" style="width: 203px">Approval Request</th>

                                    <th style="text-align: right;" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody id="ApprovalRequest_Body_Ibody">
                                <tr id="ApprovalRequest_Body_Ist">
                                    <th scope="row" class="Abcd">1</th>
                                    <td class="Abcd">PV DU000087 shirin</td>

                                    <td style="text-align: right;" class="Abcd"><a class="fa fa-eye fa-2x"></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                @*<div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Approval Request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body selectwidget-section" >


                        <div class="table-responsive">
                            <div class="reddotTable sm-form mar-t0">
                                <div class="loader1"></div>
                                <div id="ApprovalRequest_Body_Ind" class="reddotTableBody">
                                    <div class="reddotTableRow odd-even-row">


                                        <div class="reddotTableHead"><div> Approval Request</div></div>
                                        <div class="reddotTableHead"><div>Action</div></div>


                                    </div>
                                </div>
                                <div id="ApprovalRequest_Body_Ibody" class="reddotTableBody">
                                    <div id="ApprovalRequest_Body_Ist" class="reddotTableRow odd-even-row">
                                        <div class="reddotTableCellLeft  Abcd"><div></div></div>
                                        <div class="reddotTableCell Abcd"><div>  <a class="fa fa-eye fa-2x"></a></div></div>


                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>

                </div>*@
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            .demo-scrollbar {
                height: 300px;
            }
        </style>
        <script>
            var data_Notification = '';
            $(document).ready(function () {

                (function ($) {
                    $(function () {
                        $("#txtsearchId").focus();
                        $(":input[type='search']").removeAttr("autocomplete");
                        $(":input[type='search']").attr("autocomplete", "off");
                        /// $(":input").attr("autocomplete", "nope");

                        $(":input[type='search']").attr("autocomplete", "nope");
                        $(":input[type='search']").val("");


                    });
                })(jQuery);
                $('.scrollbar-inner').scrollbar();



                //  $("[id^='NewApprovalRequestbtn']").on("click", function () {
                $(document).on("click", "[id^='NewApprovalRequestbtn']", function () {
                    debugger
                    $(".loader1").show();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url: '/Dashboard/GetNotificationDashBoard',
                        contentType: "application/json",
                        dataType: "json",
                        success: function (response) {
                            data_Notification = response.Table;
                        },
                        error: function (error) {
                            data_Notification = '';
                        }
                    });
                    var i = 0;

                    var Notification_Type = $(this).attr("name");
                    if (Notification_Type != undefined) {

                        var found_names = data_Notification;
                        found_names = $.grep(found_names, function (v) {
                            return v.Notification_Type === Notification_Type;
                        });

                        $('tr#ApprovalRequest_Body_Ist').not(':first').remove();
                        if (found_names != null && found_names.length != 0) {
                            var i = 0;
                            $("#ApprovalRequest_Body_Ist").show();
                            while (found_names.length > i) {
                                var tr = $("#ApprovalRequest_Body_Ist").clone();

                                var k = 0;
                                var l1 = tr.find(".Abcd").length;
                                while (l1 > k + 1) {
                                    tr.find(".Abcd").eq(0).text(i + 1);
                                    tr.find(".Abcd").eq(1).text(found_names[i]["NotificationText"]);
                                    tr.find(".fa-eye").attr("href", found_names[i]["Notification_URL"]);
                                    k++;
                                }
                                $("#ApprovalRequest_Body_Ibody").append(tr);
                                i++;
                            }
                            $("#ApprovalRequest_Body_Ist")[0].remove();
                        } else {

                            $("#ApprovalRequest_Body_Ist").hide();

                        }
                        $(".loader1").hide();
                        $("#NewApprovalRequestWidgetspopup").modal('show');
                    }
                })
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "/GetNotify_message",
                    contentType: "Application/json",
                    dataType: 'JSON',
                    success: function (response) {
                        debugger
                        //$("#NotifyModal").modal('show');
                        var i = 0;
                        while (response.data.length > i) {
                            //#region Modal
                            $("#NotifyModal").append('<div id="NotifyModal' + response.data[i].Welcome_id + '" ></div>')

                            //#endregion

                            $("#NotifyModal" + response.data[i].Welcome_id).html('<div class="modal fade myModal"  id="Notify' + response.data[i].Welcome_id + '" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" keyboard="false" data-backdrop="static" show="false">' +

                                '<div class="modal-dialog modal-lg">' +
                                '<div class="modal-content" style="border-radius: 20px !important;">' +



                                '<div class="modal-body"  style="background-image: url(data:image;base64,' + response.data[i].Welcome_image1 + '); ' +
                                'background-repeat:no-repeat;background-position:right center; min-height: 400px; border-radius: 20px;">' +

                                '<h1 style="font-weight: bold; color: #d71313;font-size: 3.4em;padding: 10px;width: 540px;font-family: system-ui;line-height: initial;">' + response.data[i].Welcome_title + '</h1>' +
                                '<p style="width: 540px;font-size: 30px; padding: 0 10px;color: black;font-family: system-ui;font-weight: 100;' +
                                'line-height: initial;">' + response.data[i].Welcome_Message + '</p>' +
                                '<p> <i class="fa fa-info-circle" style="margin-left: 10px;" aria-hidden="true"></i> For any suggestion and help reach out to us at <span style="color: #d71313; font-weight: 400; padding: 0 10px;">helpdesk@reddotdistribution.com</span></p>' +

                                '<button type="button" id="btnReminder' + response.data[i].Welcome_id + '" data-dismiss="modal" data-id="' + response.data[i].Welcome_id + '" class="btn btn-info" style="margin-left: 10px; border-radius: 35px;">Remind me later</button>' +
                                '<button type="button" id="btnCancel' + response.data[i].Welcome_id + '" data-dismiss="modal" data-id="' + response.data[i].Welcome_id + '"   class="btn btn-danger" style="margin-left: 10px; border-radius: 35px;" >cancel</button>' +



                                '</div > ' +
                                ' </div > ' +
                                '</div>')

                            // $("#Notify" + response.data[i].Welcome_id).modal('show');
                            i++;

                        }
                        if (response.data.length == i) {
                            $('.myModal').modal();
                        }


                    }

                })
                $("[id^='btnCancel']").on("click", function () {
                    debugger
                    var t = $(this).attr("data-id");
                    var rdd = {
                        Welcome_Id: $(this).attr("data-id"),
                        Reminder: 'N',
                        Read: 'Y'
                    };
                    $.post("/ReminderActivity", { rdd: rdd }, function (response) {
                        //$("#NotifyModal" + t).modal('hide');

                    });


                })
                $("[id^='btnReminder']").on("click", function () {
                    debugger
                    var t = $(this).attr("data-id");

                    var rdd = {
                        Welcome_Id: $(this).attr("data-id"),
                        Reminder: 'Y',
                        Read: 'Y'
                    };
                    $.post("/ReminderActivity", { rdd: rdd }, function (response) {
                        //$("#NotifyModal" + t).modal('hide');
                    });

                })



            });
        </script>
        <script type="text/javascript">

            $(function () {
                $("body").on("keyup", function () {

                    var value = $("#Search-Forms-QuickLinks").val() == undefined ? '' : $("#Search-Forms-QuickLinks").val().toLowerCase();
                    $("#Forms-1 li").find("a").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            })


            $(document).ready(function () {

                $(".loader1").show();
                $(".allwidgets").hide();

                $("body").click(function (e) {
                    $('.scrollbar-inner').scrollbar();
                });
                //$(function () {

                $("#widgetlist").append('<a class="col-6 col-md-4 p-0" href="#" data-toggle="modal" data-target="#SelectWidgetspopup">'
                    + ' <div class="quick-actions-item">'
                    + '  <div class="avatar-item bg-danger rounded-circle">'
                    + '    <i class="fas fa-table"></i>'
                    + ' </div>'
                    + '<span class="text">Select Widgets</span>'
                    + ' </div ></a>');

                $("#widgetlist").append('<a class="col-6 col-md-4 p-0" href="#" data-toggle="modal" data-target="#NewTaskWidgetspopup">'
                    + ' <div class="quick-actions-item">'
                    + '  <div class="avatar-item bg-danger rounded-circle">'
                    + '    <i class="fas fa-table"></i>'
                    + ' </div>'
                    + '<span class="text">Create Task</span>'
                    + ' </div ></a>');

                $(".edit").attr('title', 'Edit');
                $(".delete").attr('title', 'Delete');





               MainDashBoard_V1.initialize();
                $(".allwidgets").show();

                $("button[class='swal2-confirm']").on("click", function () {
                    debugger
                    //location.reload();
                    window.location = '/Dashboard/IndexNew';
                });
                $(".loader1").hide();


            });
        </script>

        <style>
            .Abc {
                display: none !important;
            }
        </style>
        <script>
           
           
            //var options = {
            //    series: [{
            //        name: 'Target',
            //        data: [44, 55, 57, 56, 61, 58, 63, 60, 66]
            //    }, {
            //        name: 'Actual',
            //        data: [76, 85, 101, 98, 87, 105, 91, 114, 94]
            //    }, {
            //        name: 'Forecast',
            //        data: [35, 41, 36, 26, 45, 48, 52, 53, 41]
            //    },
            //    {
            //        name: 'Delta',
            //        data: [15, 21, 26, 20, 15, 28, 32, 13, 21]
            //    }
            //    ],
            //    chart: {
            //        type: 'bar',
            //        height: 250
            //    },
            //    plotOptions: {
            //        bar: {
            //            horizontal: false,
            //            columnWidth: '55%',
            //            endingShape: 'rounded'
            //        },
            //    },
            //    dataLabels: {
            //        enabled: false
            //    },
            //    stroke: {
            //        show: true,
            //        width: 2,
            //        colors: ['transparent']
            //    },
            //    xaxis: {
            //        categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
            //    },
            //    yaxis: {
            //        title: {
            //            text: '$ (thousands)'
            //        }
            //    },
            //    fill: {
            //        opacity: 1
            //    },
            //    tooltip: {
            //        y: {
            //            formatter: function (val) {
            //                return "$ " + val + " thousands"
            //            }
            //        }
            //    }
            //};
            //var chartx = new ApexCharts(document.querySelector("#chartx"), options);
            //chartx.render();



            //var options = {
            //    series: [{
            //        data: [
            //            [1327359600000, 30.95],
            //            [1327446000000, 31.34],
            //            [1327532400000, 31.18],
            //            [1327618800000, 31.05],
            //            [1327878000000, 31.00],
            //            [1327964400000, 30.95],
            //            [1328050800000, 31.24],
            //            [1328137200000, 31.29],
            //            [1328223600000, 31.85],
            //            [1328482800000, 31.86],
            //            [1328569200000, 32.28],
            //            [1328655600000, 32.10],
            //            [1328742000000, 32.65],
            //            [1328828400000, 32.21],
            //            [1329087600000, 32.35],
            //            [1329174000000, 32.44],
            //            [1329260400000, 32.46],
            //            [1329346800000, 32.86],
            //            [1329433200000, 32.75],
            //            [1329778800000, 32.54],
            //            [1329865200000, 32.33],
            //            [1329951600000, 32.97],
            //            [1330038000000, 33.41],
            //            [1330297200000, 33.27],
            //            [1330383600000, 33.27],
            //            [1330470000000, 32.89],
            //            [1330556400000, 33.10],
            //            [1330642800000, 33.73],
            //            [1330902000000, 33.22],
            //            [1330988400000, 31.99],
            //            [1331074800000, 32.41],
            //            [1331161200000, 33.05],
            //            [1331247600000, 33.64],
            //            [1331506800000, 33.56],
            //            [1331593200000, 34.22],
            //            [1331679600000, 33.77],
            //            [1331766000000, 34.17],
            //            [1331852400000, 33.82],
            //            [1332111600000, 34.51],
            //            [1332198000000, 33.16],
            //            [1332284400000, 33.56],
            //            [1332370800000, 33.71],
            //            [1332457200000, 33.81],
            //            [1332712800000, 34.40],
            //            [1332799200000, 34.63],
            //            [1332885600000, 34.46],
            //            [1332972000000, 34.48],
            //            [1333058400000, 34.31],
            //            [1333317600000, 34.70],
            //            [1333404000000, 34.31],
            //            [1333490400000, 33.46],
            //            [1333576800000, 33.59],
            //            [1333922400000, 33.22],
            //            [1334008800000, 32.61],
            //            [1334095200000, 33.01],
            //            [1334181600000, 33.55],
            //            [1334268000000, 33.18],
            //            [1334527200000, 32.84],
            //            [1334613600000, 33.84],
            //            [1334700000000, 33.39],
            //            [1334786400000, 32.91],
            //            [1334872800000, 33.06],
            //            [1335132000000, 32.62],
            //            [1335218400000, 32.40],
            //            [1335304800000, 33.13],
            //            [1335391200000, 33.26],
            //            [1335477600000, 33.58],
            //            [1335736800000, 33.55],
            //            [1335823200000, 33.77],
            //            [1335909600000, 33.76],
            //            [1335996000000, 33.32],
            //            [1336082400000, 32.61],
            //            [1336341600000, 32.52],
            //            [1336428000000, 32.67],
            //            [1336514400000, 32.52],
            //            [1336600800000, 31.92],
            //            [1336687200000, 32.20],
            //            [1336946400000, 32.23],
            //            [1337032800000, 32.33],
            //            [1337119200000, 32.36],
            //            [1337205600000, 32.01],
            //            [1337292000000, 31.31],
            //            [1337551200000, 32.01],
            //            [1337637600000, 32.01],
            //            [1337724000000, 32.18],
            //            [1337810400000, 31.54],
            //            [1337896800000, 31.60],
            //            [1338242400000, 32.05],
            //            [1338328800000, 31.29],
            //            [1338415200000, 31.05],
            //            [1338501600000, 29.82],
            //            [1338760800000, 30.31],
            //            [1338847200000, 30.70],
            //            [1338933600000, 31.69],
            //            [1339020000000, 31.32],
            //            [1339106400000, 31.65],
            //            [1339365600000, 31.13],
            //            [1339452000000, 31.77],
            //            [1339538400000, 31.79],
            //            [1339624800000, 31.67],
            //            [1339711200000, 32.39],
            //            [1339970400000, 32.63],
            //            [1340056800000, 32.89],
            //            [1340143200000, 31.99],
            //            [1340229600000, 31.23],
            //            [1340316000000, 31.57],
            //            [1340575200000, 30.84],
            //            [1340661600000, 31.07],
            //            [1340748000000, 31.41],
            //            [1340834400000, 31.17],
            //            [1340920800000, 32.37],
            //            [1341180000000, 32.19],
            //            [1341266400000, 32.51],
            //            [1341439200000, 32.53],
            //            [1341525600000, 31.37],
            //            [1341784800000, 30.43],
            //            [1341871200000, 30.44],
            //            [1341957600000, 30.20],
            //            [1342044000000, 30.14],
            //            [1342130400000, 30.65],
            //            [1342389600000, 30.40],
            //            [1342476000000, 30.65],
            //            [1342562400000, 31.43],
            //            [1342648800000, 31.89],
            //            [1342735200000, 31.38],
            //            [1342994400000, 30.64],
            //            [1343080800000, 30.02],
            //            [1343167200000, 30.33],
            //            [1343253600000, 30.95],
            //            [1343340000000, 31.89],
            //            [1343599200000, 31.01],
            //            [1343685600000, 30.88],
            //            [1343772000000, 30.69],
            //            [1343858400000, 30.58],
            //            [1343944800000, 32.02],
            //            [1344204000000, 32.14],
            //            [1344290400000, 32.37],
            //            [1344376800000, 32.51],
            //            [1344463200000, 32.65],
            //            [1344549600000, 32.64],
            //            [1344808800000, 32.27],
            //            [1344895200000, 32.10],
            //            [1344981600000, 32.91],
            //            [1345068000000, 33.65],
            //            [1345154400000, 33.80],
            //            [1345413600000, 33.92],
            //            [1345500000000, 33.75],
            //            [1345586400000, 33.84],
            //            [1345672800000, 33.50],
            //            [1345759200000, 32.26],
            //            [1346018400000, 32.32],
            //            [1346104800000, 32.06],
            //            [1346191200000, 31.96],
            //            [1346277600000, 31.46],
            //            [1346364000000, 31.27],
            //            [1346709600000, 31.43],
            //            [1346796000000, 32.26],
            //            [1346882400000, 32.79],
            //            [1346968800000, 32.46],
            //            [1347228000000, 32.13],
            //            [1347314400000, 32.43],
            //            [1347400800000, 32.42],
            //            [1347487200000, 32.81],
            //            [1347573600000, 33.34],
            //            [1347832800000, 33.41],
            //            [1347919200000, 32.57],
            //            [1348005600000, 33.12],
            //            [1348092000000, 34.53],
            //            [1348178400000, 33.83],
            //            [1348437600000, 33.41],
            //            [1348524000000, 32.90],
            //            [1348610400000, 32.53],
            //            [1348696800000, 32.80],
            //            [1348783200000, 32.44],
            //            [1349042400000, 32.62],
            //            [1349128800000, 32.57],
            //            [1349215200000, 32.60],
            //            [1349301600000, 32.68],
            //            [1349388000000, 32.47],
            //            [1349647200000, 32.23],
            //            [1349733600000, 31.68],
            //            [1349820000000, 31.51],
            //            [1349906400000, 31.78],
            //            [1349992800000, 31.94],
            //            [1350252000000, 32.33],
            //            [1350338400000, 33.24],
            //            [1350424800000, 33.44],
            //            [1350511200000, 33.48],
            //            [1350597600000, 33.24],
            //            [1350856800000, 33.49],
            //            [1350943200000, 33.31],
            //            [1351029600000, 33.36],
            //            [1351116000000, 33.40],
            //            [1351202400000, 34.01],
            //            [1351638000000, 34.02],
            //            [1351724400000, 34.36],
            //            [1351810800000, 34.39],
            //            [1352070000000, 34.24],
            //            [1352156400000, 34.39],
            //            [1352242800000, 33.47],
            //            [1352329200000, 32.98],
            //            [1352415600000, 32.90],
            //            [1352674800000, 32.70],
            //            [1352761200000, 32.54],
            //            [1352847600000, 32.23],
            //            [1352934000000, 32.64],
            //            [1353020400000, 32.65],
            //            [1353279600000, 32.92],
            //            [1353366000000, 32.64],
            //            [1353452400000, 32.84],
            //            [1353625200000, 33.40],
            //            [1353884400000, 33.30],
            //            [1353970800000, 33.18],
            //            [1354057200000, 33.88],
            //            [1354143600000, 34.09],
            //            [1354230000000, 34.61],
            //            [1354489200000, 34.70],
            //            [1354575600000, 35.30],
            //            [1354662000000, 35.40],
            //            [1354748400000, 35.14],
            //            [1354834800000, 35.48],
            //            [1355094000000, 35.75],
            //            [1355180400000, 35.54],
            //            [1355266800000, 35.96],
            //            [1355353200000, 35.53],
            //            [1355439600000, 37.56],
            //            [1355698800000, 37.42],
            //            [1355785200000, 37.49],
            //            [1355871600000, 38.09],
            //            [1355958000000, 37.87],
            //            [1356044400000, 37.71],
            //            [1356303600000, 37.53],
            //            [1356476400000, 37.55],
            //            [1356562800000, 37.30],
            //            [1356649200000, 36.90],
            //            [1356908400000, 37.68],
            //            [1357081200000, 38.34],
            //            [1357167600000, 37.75],
            //            [1357254000000, 38.13],
            //            [1357513200000, 37.94],
            //            [1357599600000, 38.14],
            //            [1357686000000, 38.66],
            //            [1357772400000, 38.62],
            //            [1357858800000, 38.09],
            //            [1358118000000, 38.16],
            //            [1358204400000, 38.15],
            //            [1358290800000, 37.88],
            //            [1358377200000, 37.73],
            //            [1358463600000, 37.98],
            //            [1358809200000, 37.95],
            //            [1358895600000, 38.25],
            //            [1358982000000, 38.10],
            //            [1359068400000, 38.32],
            //            [1359327600000, 38.24],
            //            [1359414000000, 38.52],
            //            [1359500400000, 37.94],
            //            [1359586800000, 37.83],
            //            [1359673200000, 38.34],
            //            [1359932400000, 38.10],
            //            [1360018800000, 38.51],
            //            [1360105200000, 38.40],
            //            [1360191600000, 38.07],
            //            [1360278000000, 39.12],
            //            [1360537200000, 38.64],
            //            [1360623600000, 38.89],
            //            [1360710000000, 38.81],
            //            [1360796400000, 38.61],
            //            [1360882800000, 38.63],
            //            [1361228400000, 38.99],
            //            [1361314800000, 38.77],
            //            [1361401200000, 38.34],
            //            [1361487600000, 38.55],
            //            [1361746800000, 38.11],
            //            [1361833200000, 38.59],
            //            [1361919600000, 39.60],
            //        ]
            //    }],
            //    chart: {
            //        id: 'area-datetime',
            //        type: 'area',
            //        height: 180,
            //        zoom: {
            //            autoScaleYaxis: true
            //        }
            //    },
            //    annotations: {
            //        yaxis: [{
            //            y: 30,
            //            borderColor: '#999',
            //            label: {
            //                show: true,
            //                text: 'Support',
            //                style: {
            //                    color: "#fff",
            //                    background: '#00E396'
            //                }
            //            }
            //        }],
            //        xaxis: [{
            //            x: new Date('14 Nov 2012').getTime(),
            //            borderColor: '#999',
            //            yAxisIndex: 0,
            //            label: {
            //                show: true,
            //                text: 'Rally',
            //                style: {
            //                    color: "#fff",
            //                    background: '#775DD0'
            //                }
            //            }
            //        }]
            //    },
            //    dataLabels: {
            //        enabled: false
            //    },
            //    markers: {
            //        size: 0,
            //        style: 'hollow',
            //    },
            //    xaxis: {
            //        type: 'datetime',
            //        min: new Date('01 Mar 2012').getTime(),
            //        tickAmount: 6,
            //    },
            //    tooltip: {
            //        x: {
            //            format: 'dd MMM yyyy'
            //        }
            //    },
            //    fill: {
            //        type: 'gradient',
            //        gradient: {
            //            shadeIntensity: 1,
            //            opacityFrom: 0.7,
            //            opacityTo: 0.9,
            //            stops: [0, 100]
            //        }
            //    },
            //};

            //var chart = new ApexCharts(document.querySelector("#chart-timeline"), options);
            //chart.render();


            //var resetCssClasses = function (activeEl) {
            //    var els = document.querySelectorAll('button')
            //    Array.prototype.forEach.call(els, function (el) {
            //        el.classList.remove('active')
            //    })

            //    activeEl.target.classList.add('active')
            //}

            //document
            //    .querySelector('#one_month')
            //    .addEventListener('click', function (e) {
            //        resetCssClasses(e)

            //        chart.zoomX(
            //            new Date('28 Jan 2013').getTime(),
            //            new Date('27 Feb 2013').getTime()
            //        )
            //    })

            //document
            //    .querySelector('#six_months')
            //    .addEventListener('click', function (e) {
            //        resetCssClasses(e)

            //        chart.zoomX(
            //            new Date('27 Sep 2012').getTime(),
            //            new Date('27 Feb 2013').getTime()
            //        )
            //    })

            //document
            //    .querySelector('#one_year')
            //    .addEventListener('click', function (e) {
            //        resetCssClasses(e)
            //        chart.zoomX(
            //            new Date('27 Feb 2012').getTime(),
            //            new Date('27 Feb 2013').getTime()
            //        )
            //    })

            //document.querySelector('#ytd').addEventListener('click', function (e) {
            //    resetCssClasses(e)

            //    chart.zoomX(
            //        new Date('01 Jan 2013').getTime(),
            //        new Date('27 Feb 2013').getTime()
            //    )
            //})

            //document.querySelector('#all').addEventListener('click', function (e) {
            //    resetCssClasses(e)

            //    chart.zoomX(
            //        new Date('23 Jan 2012').getTime(),
            //        new Date('27 Feb 2013').getTime()
            //    )
            //})

            //var options = {
            //    series: [{
            //        name: 'Old Customers',
            //        data: [31, 40, 28, 51, 42, 109, 100]
            //    }, {
            //        name: 'New Customers',
            //        data: [11, 32, 45, 32, 34, 52, 41]
            //    }],
            //    chart: {
            //        height: 180,
            //        type: 'area'
            //    },
            //    dataLabels: {
            //        enabled: false
            //    },
            //    stroke: {
            //        curve: 'smooth'
            //    },
            //    xaxis: {
            //        type: 'datetime',
            //        categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
            //    },
            //    tooltip: {
            //        x: {
            //            format: 'dd/MM/yy HH:mm'
            //        },
            //    },
            //};

            //var chartb = new ApexCharts(document.querySelector("#chartb"), options);
            //chartb.render();


        </script>
