
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialView_IncentiveKPI</title>
</head>
<body>
    <div class="rowmin" id="ContantsPayment" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="col-md-12">
            <div class="card success-border full-height padd-10 smform-section">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">Designation  :</label>
                            <div class="col-md-7 p-0">
                                <select class="form-control form-control-sm" id="ddlDesignation">
                                    <option value="0">-- Select Designation --</option>
                                </select>
                                @Html.DropDownListFor(m => m.ObjType, Model.DocumentNameList, new { @class = "form-control form-control-sm" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">Period  :</label>
                            <div class="col-md-7 p-0">
                                <select class="form-control form-control-sm" id="ddlPeriod">
                                    <option value="0">-- Select Period --</option>
                                    <option value="H1">H1</option>
                                    <option value="H2">H2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">Year :</label>
                            <div class="col-md-7 p-0">
                                <select class="form-control form-control-sm" id="ddlYear">
                                    <option value="0">-- Select Year --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">KPI Name :</label>
                            <div class="col-md-7 p-0">
                                <input type="text" class="form-control form-control-sm" id="txtKPIname">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">Retain % :</label>
                            <div class="col-md-7 p-0">
                                <input type="number" class="form-control form-control-sm" id="txtRetainPercent">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-3 col-form-label p-0">T & C :</label>
                            <div class="col-md-7 p-0">
                                <textarea class="form-control" id="comment" rows="3"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xl-8 col-md-8">
                        <div class="col-xl-1 col-md-1 ml-auto text-right p-0">
                            <button class="btn btn-info btn-sm" id="btnNewModal" data-toggle="modal" data-target="#SelectWidgetspopup">ADD KPI Parameter</button>
                        </div>

                        <div id="tblKPIDetails" class="reddotTableBody">
                            <div class="reddotTableRow odd-even-row">
                                <div class="reddotTableHead width20per"><div>KPI Parameter </div></div>
                                <div class="reddotTableHead width10per"><div>Split %</div></div>
                                <div class="reddotTableHead width10per"><div>Earning / Deduction </div></div>
                            </div>
                        </div>
                        <div id="IIbody" class="reddotTableBody">                        
                            <div id="IIst" class="reddotTableRow odd-even-row OriginatorDet">
                                <div class="reddotTableCell width20per Abcd"><div></div></div>
                                <div class="reddotTableCell width10per Abcd">
                                    <div>
                                        @Html.TextBox(string.Concat("txtSplit"), "", new { @type="number",@class = "form-control form-control-sm inputs" })
                                        
                                    </div>
                                </div>
                                <div class='reddotTableCell width20per'><div>
    @Html.DropDownList(string.Concat("ddlEarnOrDeduct"), new List<SelectListItem> { new SelectListItem { Text = "-Select-", Value = "0" },
                new SelectListItem { Text = "Earning", Value = "E" },
                new SelectListItem { Text = "Deduction", Value = "D" }
                 }, new { @class = "form-control form-control-sm" })
</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
