@model List<RDDStaffPortal.DAL.DataModels.RDD_Menus>



@*<div class="treeview" id="link-content">*@


@if (Model != null && Model.Count() > 0)
{
    @*<li class="nav-item">*@
    <ul>
        @TreeviewUser.GetTreeview(Model, Model.FirstOrDefault().ModuleId)
    </ul>
    
    @*</li>*@
}
@*</div>*@
