@model RDDStaffPortal.DAL.DataModels.RDD_User_Rights

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


    <div class="main-panel">
        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h4 class="page-title">Employee Access</h4>
                </div>
                <div class="rowmin">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive-lg">
                                    <div class="row">
                                        <div class="col-xl-2 col-md-3">
                                            <div class="form-group">
                                                <label for="email2" class="width70px">Employee</label>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-3">
                                            <div class="form-group">

                                                <div class="select2-input">
                                                    <input class="form-control" id="Userid" name="basic"/>
                                                    <input id="hdnUserid" type="hidden" value="-1"/>
                                                    
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-xl-3 col-md-3">


                                            <div class="form-group"><button type="button" id="btnSaveMenu" class="btn btn-info btn-sm mar-t2">Save</button></div>



                                        </div>
                                        @*<div class="col-md-1">
                <div class="form-group padd-0">
                    <label for="email2" class="width100px"></label>
                    <div class="mar-t7"><button type="button" id="Btnsearch" class="btn btn-success btn-sm mar-t8">Search</button></div>
                </div>


            </div>*@




                                    </div> <div class="loader1"></div>

                                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link mar-0 active show" id="pills-Forms-tab" data-toggle="pill" href="#tab-Forms" role="tab" aria-controls="pills-Forms" aria-selected="false">Forms</a>
                                        </li>

                                        <li class="nav-item submenu">
                                            <a class="nav-link mar-0" id="pills-Dashboards-tab" data-toggle="pill" href="#tab-Dashboards" role="tab" aria-controls="pills-Dashboards" aria-selected="false">Dashboards</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content mt-2 mb-3" id="pills-tabContent">

                                        <div class="tab-pane fade active show" id="tab-Forms" role="tabpanel" aria-labelledby="tab-Forms">
                                            <div id="accordion-0">
                                                @*<div class="card-header odd" id="heading-1">



                    </div>*@
                                                @{ Html.RenderAction("GetMenuTree", "UserRights", new { area = "Admin" }); }

                                            </div>
                                        </div>


                                        <div class="tab-pane fade" id="tab-Dashboards" role="tabpanel" aria-labelledby="tab-Dashboards">

                                            @{ Html.RenderAction("GetWidget", "UserRights", new { area = "Admin" }); }
                                        </div>
                                    </div>







                                </div>

                                    </div>

                        </div>
                    </div>


                </div>



            </div>
        </div>

    </div>
@*<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">

                <table class="table table-bordered table-sm" id="tablePODetails">
                    <thead>
                        <tr class="tr">
                            <td colspan="6" align="center"><b>Menu Name</b></td>
                            <td align="center"><b>All</b></td>

                        </tr>
                    </thead>
                    <tbody>
                        @{ Html.RenderAction("GetMenuTree", "UserRights", new { area = "Admin" }); }
                    </tbody>
                </table>
            </div>
            <div>
                <div class="form-group">
                    <label for="email2" class="width120px"></label>
                    <div class="mar-t7"><button type="button" class="btn btn-success submitbtn add-new" id="btnSaveMenu">Save</button></div>

                </div>
            </div>
        </div>
    </div>
</div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".loader1").show();
        // drop down image fill with name 
        //RdotDropimg("Userid", "/GetUserList");


       // RdotDrop("Userid", "/GetUserList");
        applyAutoComplete2("#Userid", "#hdnUserid", "/GetUserListAuto");

        var tf = true;
        $("#Userid").on("focusout", function () {

            var Userid = $('#hdnUserid').val();
            if (Userid == '-1' && tf==true) {
                RedDotAlert_Error("Please select  User");               
                return false

            }
            tf = true;
            $.get("/GetUserRightsList", { UserId: Userid }).done(function (response) {
    debugger
                var ary = [];
                ary = response;
                var n = 0;
                $(".card-header").find("[id^='smallSelect']").val('N');
                while (ary.length > n) {
                    $(".card-header").find("[id='smallSelect-" + ary[n].Code + "']").val(ary[n].CodeName);

                    n++;
                }
            });
            $('#btnSaveMenu').show();
        })

        $("[id^='smallSelect']").on('change', function () {
            debugger
            var tid = $(this).attr("id");
            var k = tid.split('-');            
            $("[id='collapse-" + k[1] + "']").find("[id^='smallSelect']").val($(this).val());

        })
      
        $('#btnSaveMenu').hide();
        $('#Btnsearch').on("click", function () {
            var Userid = $('#hdnUserid').val();
            if (Userid == '-1') {
                RedDotAlert_Error("Please select  User");
                return false

            }
            $.get("/GetUserRightsList", { UserId: Userid }).done(function (response) {
               
                var ary = [];
                ary = response;
                var n = 0;
               
                while (ary.length > n) {
                    $(".card-header").find("[id='smallSelect-" + ary[n].Code + "']").val(ary[n].CodeName);
                    
                    n++; 
                }
            });
            $('#btnSaveMenu').show();

        });

        $('#btnSaveMenu').on("click", function () {
            $(".loader1").show();
            var Users = {
                UserId: $('#hdnUserid').val(),                
                MenuDetails: [],
                DashDetails:[]

            };
            if (Users.UserId == '-1') {
                RedDotAlert_Error("Please select  User");
                $(".loader1").hide();
                return false

            }
            debugger;
            $(".Menu1").each(function (index, item) {
                var AuthoTypTxt = $(this).find("[id*='smallSelect'] option:selected").val();
                var MenuTxt = $(this).find("[id='Inphdn']").val();

                var MenuDetail = {
                    MenuId: MenuTxt,
                    AuthoTyp: AuthoTypTxt,

                };
                if (MenuTxt != undefined)
                Users.MenuDetails.push(MenuDetail);
            });
            $(".dash").each(function (index, item) {
                var AuthoTypTxt = $(this).find("[id*='smallSelect'] option:selected").val();
                var MenuTxt = $(this).find("[id='Inphdn']").val();

                var DashDetail = {
                    DashId: MenuTxt,
                    AuthoTyp: AuthoTypTxt,

                };
                if (MenuTxt != undefined)
                    Users.DashDetails.push(DashDetail);
            });
            

            debugger
           $.post("/SaveUserRights", Users).done(function (response) {
               if (response.SaveFlag == true) {
                   tf = false;
                   RedDotAlert_Success('Save Succcesfully');
                   $("[id*='smallSelect']").val("N");
                   $('#Userid').val("").trigger("change");
                   $('#hdnUserid').val("-1")
                   $('#btnSaveMenu').hide();
               } else {
                   RedDotAlert_Error('Error Occur');
               }
               $(".loader1").hide();

           });




        })
        $(".loader1").hide();
    });
</script>
<script>
   
    </script>