@model RDDStaffPortal.DAL.DataModels.RDD_WebReportsUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<link href="~/Scripts/dragdrop/main.css" rel="stylesheet" />
<script src="~/Scripts/RedDotUtility.js"></script>
@*<script src="~/Scripts/dragdrop/jquery-ui-1.9.0.custom.min.js"></script>*@
<script src="~/Scripts/Application/Webreports.js"></script>

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">
                    Report Authorization
                </h4>

            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="rowmin row mar-b10">
                                    <div class="col-xl-1 col-md-1">
                                        <div class="form-group">
                                            <label for="email2" class="width100px mar-t4">User search :</label>
                                           

                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4">
                                        <div class="select2-input">
                                            <select class="form-control" id="Userid" name="basic">
                                            </select>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="rowmin row mar-b10">
                                        <div class="col-xl-1 col-md-1">
                                            <div class="form-group">
                                                <label for="email2" class="width100px mar-t4">Reports :</label>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-sm" id="txtsearch" placeholder="Search">
                                            </div>
                                        </div>

                                        @*<div class="col-xl-1 col-md-1  padd-l0">
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-sm" id="addrow">Search</button>
                </div>
            </div>*@
                                    </div>
                                    <div class="rowmin row">
                                        <div class="col-md-8" id="product">
                                            <div class="row">
                                                <div class="col-md-4 padd-l5 padd-r5">
                                                    <div class="panel">
                                                        <div class="panel-heading text-center">Reports</div>
                                                        <table id="tblReports" class="table-active table-responsive">
                                                            <thead>
                                                                <tr><td style="display:none">Reports</td></tr>
                                                            </thead>
                                                            <tbody class="clear"><tr></tr></tbody>
                                                        </table>
                                                    </div>

                                                </div>




                                            </div>

                                        </div>
                                        <div class="col-md-4" id="sidebar">
                                            <div class="panel">
                                                <div class="panel-heading text-center" id="hdntitle">Authorized  Reports</div>

                                                <div class="basket">
                                                    <div class="basket_list" id="pri1">
                                                        <input id="hdnflag" value="false" type="hidden" />

                                                        <ul id="pr1">
                                                        </ul>
                                                    </div>
                                                </div>



                                                <div class="card-action">
                                                    <button class="btn btn-success btn-sm" id="btnsave">Save</button>
                                                    <button class="btn btn-danger btn-sm" id="btnclear">Clear</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>








                                </div>





                            </div>

                    </div>

                </div>
            </div>


        </div>



    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //$(function () {


Webreports.initialize();
    });
</script>
<style>
    table {
        position: relative !important;
    }

    .bootstrap-datetimepicker-widget li {
        display: block !important;
    }
</style>
