@model RDDStaffPortal.DAL.DataModels.PerformanceEvaluation.RDD_Settings

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<link href="~/Content/extra-style.css" rel="stylesheet" />
<input type="hidden" id="hdnRatingId" />
<input type="hidden" id="hdnFrequencyId" />

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="loader1"></div>
                    <div class="card p-4">
                        <h4 class="card-title redtitle mb-3">Settings </h4>
                        <form>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="ddlFrequency">Appraisal Frequency</label>
                                        <select class="form-control" id="ddlFrequency">
                                            <option value="-1">---Select---</option>
                                            <option value="Quarterly">Quarterly</option>
                                            <option value="HalfYearly">Half-Yearly</option>
                                            <option value="Annually">Annually</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="ddlRating">Rating</label>
                                        <select class="form-control" id="ddlRating">
                                            <option value="-1">---Select---</option>
                                            <option value="5">1-5</option>
                                            <option value="10">1-10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="txtRatingDescription">Rating Description</label>
                                        <textarea class="form-control" id="txtRatingDescription" rows="4">

                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="ddlEmpRemDays">Reminder Days To Employee</label>
                                        <select class="form-control" id="ddlEmpRemDays">
                                            <option value="-1">---Select---</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="ddlMngRemDays">Reminder Days To L1 Manager</label>
                                        <select class="form-control" id="ddlMngRemDays">
                                            <option value="-1">---Select---</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="m-2" style="text-align:right;">
                            <a href="#" class="btn btn-danger" id="btnSaveSettings">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>

<script type="text/javascript">
    function GetSettingsDetails() {
        $('.loader1').show();
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetSettingsDetails", "Settings")',
            dataType: "json",
            success: function (data) {
                debugger
                $('.loader1').hide();
                if (data.Table.length > 0 || data.Table1.length > 0) {
                    $("#txtRatingDescription").val(data.Table[0].RatingDescription);
                    $("#ddlRating").find('option[value="' + data.Table[0].RatingNo + '"]').attr("selected", "selected");
                    $("#ddlFrequency").find('option[value="' + data.Table1[0].AppraisalFrequency + '"]').attr("selected", "selected");
                    $("#ddlEmpRemDays").val(data.Table1[0].ReminderDaysToEmployee);
                    $("#ddlMngRemDays").val(data.Table1[0].ReminderDaysToManager);
                    $("#btnSaveSettings").text("Update");
                    $("#btnSaveSettings").attr("id", "btnUpdateSettings");
                    $("#hdnRatingId").val(data.Table[0].RatingId);
                    $("#hdnFrequencyId").val(data.Table1[0].FrequencyId);
                }
                else {
                    $("#btnUpdateSettings").text("Save");
                    $("#btnUpdateSettings").attr("id", "btnSaveSettings");
                }
            }
        });
    }

    function SaveSettings(rDD_Setting) {
        $('.loader1').show();
        var rDD_Setting = rDD_Setting;
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAppraisalSettings", "Settings")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ rDD_Setting: rDD_Setting }),
            dataType: "json",
            success: function (data) {
                $('.loader1').hide();
                if (data.SaveFlag == true) {
                    RedDotAlert_Success(data.ErrorMsg);
                    GetSettingsDetails();
                    $("#addRowModal").modal('hide');
                    $("#btnUpdateCategory").text("Save");
                    $("#btnUpdateCategory").attr("id", "btnSaveCategory");
                }
                else {
                    RedDotAlert_Error(data.ErrorMsg);
                }
            }
        });
    }

    $(document).ready(function () {
        GetSettingsDetails();
    });

    $(document).on('click', '#btnSaveSettings', function () {
        var RatingNo = $("#ddlRating option:selected").val();
        var AppraisalFrequency = $("#ddlFrequency option:selected").val();
        var RatingDescription = $.trim($("#txtRatingDescription").val());
        RatingDescription = RatingDescription.replace(/(?:(?:\r\n|\r|\n)\s*){2}/gm, "");
        var EmpRemDays = $("#ddlEmpRemDays option:selected").val();
        var MngRemDays = $("#ddlMngRemDays option:selected").val();
        if (AppraisalFrequency == "-1") {
            RedDotAlert_Error("Please Select Appraisal Frequency");
            return false;
        }
        if (RatingNo == "-1") {
            RedDotAlert_Error("Please Select Rating No");
            return false;
        }        
        if (RatingDescription == "") {
            RedDotAlert_Error("Please Define Rating Description");
            return false;
        }
        if (EmpRemDays == "-1") {
            RedDotAlert_Error("Please Select Reminder Days To Employee");
            return false;
        }
        if (MngRemDays == "-1") {
            RedDotAlert_Error("Please Select Reminder Days To L1 Manager");
            return false;
        }
        var rDD_Setting = {
            RatingNo: RatingNo,
            AppraisalFrequency: AppraisalFrequency,
            RatingDescription: RatingDescription,
            ReminderDaysToEmployee: EmpRemDays,
            ReminderDaysToManager: MngRemDays
        };
        SaveSettings(rDD_Setting);
    });

    $(document).on('click', '#btnUpdateSettings', function () {
        var RatingNo = $("#ddlRating option:selected").val();
        var AppraisalFrequency = $("#ddlFrequency option:selected").val();
        var RatingDescription = $("#txtRatingDescription").val();
        var EmpRemDays = $("#ddlEmpRemDays option:selected").val();
        var MngRemDays = $("#ddlMngRemDays option:selected").val();
        if (AppraisalFrequency == "-1") {
            RedDotAlert_Error("Please Select Appraisal Frequency");
            return false;
        }
        if (RatingNo == "-1") {
            RedDotAlert_Error("Please Select Rating No");
            return false;
        }
        
        var rDD_Setting = {
            RatingNo: RatingNo,
            AppraisalFrequency: AppraisalFrequency,
            RatingDescription: RatingDescription,
            RatingId: $("#hdnRatingId").val(),
            FrequencyId: $("#hdnFrequencyId").val(),
            ReminderDaysToEmployee: EmpRemDays,
            ReminderDaysToManager: MngRemDays,
            EditFlag:true
        };
        SaveSettings(rDD_Setting);
    });
</script>

