@model RDDStaffPortal.DAL.DataModels.PerformanceEvaluation.RDD_ManagerRating

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<link href="~/Content/extra-style.css" rel="stylesheet" />
<style>

    tbody {
        width: 900px; /* Just for the demo          */
        overflow-y: hidden; /* Trigger vertical scroll    */
        overflow-x: auto; /* Hide the horizontal scroll */
    }
</style>
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="  align-items-center">
                                <h4 class="card-title redtitle">Employee Rating</h4>
                                <div class="row mx-3 mt-3">
                                    <div class="col-1">
                                        <img src="data:image;base64,@HttpContext.Current.Session["LoginName"]" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="col-11 p-0">
                                        <h2 id="headEmpName">
                                            Tathagata Ghosh
                                            <span class="badge badge-danger mb-1 ml-2">HEAD OF IT</span>
                                        </h2>
                                        <div class="row">
                                            <div class="col-3 p-0 emp" style="font-size:16px" id="divDepartment"><i class="fas fa-building mr-1" style="color:darkgray" aria-hidden="true"></i>IT </div>
                                            <div class="col-3 p-0 emp" style="font-size:16px" id="divCountry"><i class="fa fa-flag mr-1" style="color:darkgray" aria-hidden="true"></i>INDIA </div>
                                            <div class="col-3 p-0 emp" style="font-size:16px" id="divYear"><i class="fa fa-calendar-alt mr-1" style="color:darkgray" aria-hidden="true"></i>2021 </div>
                                            <div class="col-3 p-0 emp" style="font-size:16px" id="divPeriod"><i class="fas fa-calendar-minus mr-1" style="color:darkgray" aria-hidden="true"></i>H2 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">                           
                            <section>
                                <table class="display table table-striped table-hover">
                                    <thead style="background-color: rgba(0,0,0,.05);">
                                        <tr style="font-size:14px">
                                            <th width="20px" scope="col">#</th>
                                            <th scope="col">Employee</th>                                           
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr>
                                            <th scope="row">1</th>
                                            <td style="font-size:16px"><a href="#" target="_blank">Mainak ghosh</a></td>
                                            <td><span class="badge badge-warning">pending</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td style="font-size:16px">Subhojit ghosh</td>

                                            <td><span class="badge badge-success">completed</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td style="font-size:16px">Tathagata ghosh</td>

                                            <td><span class="badge badge-success">completed</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td style="font-size:16px">Pratim ghosh</td>

                                            <td><span class="badge badge-warning">Warning</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>

@*<script type="text/javascript">
    function GetDetailsForManager() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDetailsForManager", "ManagerRating")',
            dataType: "json",
            success: function (data) {
                $("#divYear").append('<i class="fa fa-calendar-alt mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table1[0].Years);
                $("#divPeriod").append('<i class="fas fa-calendar-minus mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table2[0].Period);
                $("#ddlDepartment").empty();
                $("#ddlDepartment").append('<option value="-1">--Select--</option>');
                $.each(data.Table, function (index, Value) {
                    $("#ddlDepartment").append("<option value='" + Value.DeptId + "'>" + Value.DeptName + "</option>");
                });
            }
        });
    }
    function GetEmployeeName() {
        var DeptId = $("#ddlDepartment option:selected").val();
        //alert(DeptId);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetEmployeeByDepartment", "ManagerRating")',
            data: { "DeptId": DeptId},
            dataType: "json",
            success: function (data) {                
                $("#ddlEmployeeName").empty();
                $("#ddlEmployeeName").append('<option value="-1">--Select--</option>');
                $.each(data.Table, function (index, Value) {
                    $("#ddlEmployeeName").append("<option value='" + Value.EmployeeId + "'>" + Value.EmployeeName + "</option>");
                });
            }
        });
    }
    $(document).ready(function () {
        GetDetailsForManager();
    });
    
</script>*@
