@model RDDStaffPortal.DAL.DataModels.PerformanceEvaluation.RDD_ManagerRating

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<link href="~/Content/extra-style.css" rel="stylesheet" />
<style>

    tbody {
        width: 900px; /* Just for the demo          */
        overflow-y: hidden; /* Trigger vertical scroll    */
        overflow-x: auto; /* Hide the horizontal scroll */
    }
</style>
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="  align-items-center">
                                <h4 class="card-title redtitle">Rating</h4>
                                <div class="row">
                                    <form class="form-inline col-12">
                                        <div class="form-group mr-sm-3 mb-2 col-3">
                                            <label for="inputPassword2" class=" ">Department</label>
                                            <select class="form-control" id="ddlDepartment" onchange="GetEmployeeName();">
                                                <option value="-1">--Select--</option>
                                            </select>
                                        </div>
                                        <div class="form-group mr-sm-3 mb-2 col-3">
                                            <label for="inputPassword2" class=" ">Name</label>
                                            <select class="form-control" id="ddlEmployeeName">
                                                <option value="-1">--Select--</option>
                                            </select>
                                        </div>
                                        <div class="form-group mr-sm-3 mb-2 col-2" style="display: inline-block;">
                                            <label for="inputPassword2" class="">Year</label>
                                            <div style=" font-size: 16px;padding: 10px 0;" id="divYear"></div>
                                        </div>
                                        <div class="form-group mr-sm-3 mb-2 col-2" style="display: inline-block;">
                                            <label for="inputPassword2" class=" ">Period</label>
                                            <div style="font-size: 16px;padding: 10px 0" id="divPeriod"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-round">Filter</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">                           
                            <section>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Finance </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sales </a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="table-responsive tblscroll">
                                            <table id="add-row" class="display table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:300px;">Question </th>
                                                        <th style="width:150px;">Employee Rating </th>
                                                        <th style="width:200px;">Employee Comment </th>
                                                        <th style="width:150px;">Manager Rating </th>
                                                        <th style="width:200px;">Manager Comment </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Why is an electrical outlet called an outlet when you plug things into it? Shouldn't it be called an inlet? </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="star-5" type="radio" name="star" />
                                                                    <label class="star star-5" for="star-5"></label>
                                                                    <input class="star star-4" id="star-4" type="radio" name="star" />
                                                                    <label class="star star-4" for="star-4"></label>
                                                                    <input class="star star-3" id="star-3" type="radio" name="star" />
                                                                    <label class="star star-3" for="star-3"></label>
                                                                    <input class="star star-2" id="star-2" type="radio" name="star" />
                                                                    <label class="star star-2" for="star-2"></label>
                                                                    <input class="star star-1" id="star-1" type="radio" name="star" />
                                                                    <label class="star star-1" for="star-1"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="star-5-2" type="radio" name="star" />
                                                                    <label class="star star-5" for="star-5-2"></label>
                                                                    <input class="star star-4" id="star-4-2" type="radio" name="star" />
                                                                    <label class="star star-4" for="star-4-2"></label>
                                                                    <input class="star star-3" id="star-3-2" type="radio" name="star" />
                                                                    <label class="star star-3" for="star-3-2"></label>
                                                                    <input class="star star-2" id="star-2-2" type="radio" name="star" />
                                                                    <label class="star star-2" for="star-2-2"></label>
                                                                    <input class="star star-1" id="star-1-2" type="radio" name="star" />
                                                                    <label class="star star-1" for="star-1-2"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>

                                                    </tr>
                                                    <tr>
                                                        <td>Why is an electrical outlet called an outlet when you plug things into it? Shouldn't it be called an inlet? </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="stare-5" type="radio" name="star" />
                                                                    <label class="star star-5" for="stare-5"></label>
                                                                    <input class="star star-4" id="stare-4" type="radio" name="star" />
                                                                    <label class="star star-4" for="stare-4"></label>
                                                                    <input class="star star-3" id="stare-3" type="radio" name="star" />
                                                                    <label class="star star-3" for="stare-3"></label>
                                                                    <input class="star star-2" id="stare-2" type="radio" name="star" />
                                                                    <label class="star star-2" for="stare-2"></label>
                                                                    <input class="star star-1" id="stare-1" type="radio" name="star" checked="checked" />
                                                                    <label class="star star-1" for="stare-1"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="stare-5-2" type="radio" name="star" />
                                                                    <label class="star star-5" for="stare-5-2"></label>
                                                                    <input class="star star-4" id="stare-4-2" type="radio" name="star" checked="checked" />
                                                                    <label class="star star-4" for="stare-4-2"></label>
                                                                    <input class="star star-3" id="stare-3-2" type="radio" name="star" />
                                                                    <label class="star star-3" for="stare-3-2"></label>
                                                                    <input class="star star-2" id="stare-2-2" type="radio" name="star" />
                                                                    <label class="star star-2" for="stare-2-2"></label>
                                                                    <input class="star star-1" id="stare-1-2" type="radio" name="star" />
                                                                    <label class="star star-1" for="stare-1-2"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="table-responsive tblscroll">
                                            <table id="add-row-two" class="display table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:350px;">Question </th>
                                                        <th style="width:125px;">Employee Rating </th>
                                                        <th style="width:200px;">Employee Comment </th>
                                                        <th style="width:125px;">Manager Rating </th>
                                                        <th style="width:200px;">Manager Comment </th>
                                                        <th style="width:70px;">Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>Why is an electrical outlet called an outlet when you plug things into it? Shouldn't it be called an inlet? </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="star-5-3" type="radio" name="star" />
                                                                    <label class="star star-5" for="star-5-3"></label>
                                                                    <input class="star star-4" id="star-4-3" type="radio" name="star" />
                                                                    <label class="star star-4" for="star-4-3"></label>
                                                                    <input class="star star-3" id="star-3-3" type="radio" name="star" />
                                                                    <label class="star star-3" for="star-3-3"></label>
                                                                    <input class="star star-2" id="star-2-3" type="radio" name="star" />
                                                                    <label class="star star-2" for="star-2-3"></label>
                                                                    <input class="star star-1" id="star-1-3" type="radio" name="star" />
                                                                    <label class="star star-1" for="star-1-3"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>
                                                        <td>
                                                            <div class="stars">
                                                                <form action="">
                                                                    <input class="star star-5" id="star-5-4" type="radio" name="star" />
                                                                    <label class="star star-5" for="star-5-4"></label>
                                                                    <input class="star star-4" id="star-4-4" type="radio" name="star" />

                                                                    <label class="star star-4" for="star-4-4"></label>
                                                                    <input class="star star-3" id="star-3-4" type="radio" name="star" />
                                                                    <label class="star star-3" for="star-3-4"></label>
                                                                    <input class="star star-2" id="star-2-4" type="radio" name="star" />
                                                                    <label class="star star-2" for="star-2-4"></label>
                                                                    <input class="star star-1" id="star-1-4" type="radio" name="star" />
                                                                    <label class="star star-1" for="star-1-4"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><textarea id="" name="" rows="5" cols="5" placeholder="" class="textarea-style"></textarea> </td>
                                                        <td>
                                                            <div class="form-button-action">
                                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                                    <i class="fa fa-edit"></i>
                                                                </button>
                                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/RedDotUtility.js"></script>

<script type="text/javascript">
    function GetDetailsForManager() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDetailsForManager", "ManagerRating")',
            dataType: "json",
            success: function (data) {
                $("#divYear").append('<i class="fa fa-calendar-alt mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table1[0].Years);
                $("#divPeriod").append('<i class="fas fa-calendar-minus mr-1" style="color:darkgray" aria-hidden="true"></i>' + data.Table2[0].Period);
                $("#ddlDepartment").empty();
                $("#ddlDepartment").append('<option value="-1">--Select--</option>');
                $.each(data.Table, function (index, Value) {
                    $("#ddlDepartment").append("<option value='" + Value.DeptId + "'>" + Value.DeptName + "</option>");
                });
            }
        });
    }
    function GetEmployeeName() {
        var DeptId = $("#ddlDepartment option:selected").val();
        //alert(DeptId);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetEmployeeByDepartment", "ManagerRating")',
            data: { "DeptId": DeptId},
            dataType: "json",
            success: function (data) {                
                $("#ddlEmployeeName").empty();
                $("#ddlEmployeeName").append('<option value="-1">--Select--</option>');
                $.each(data.Table, function (index, Value) {
                    $("#ddlEmployeeName").append("<option value='" + Value.EmployeeId + "'>" + Value.EmployeeName + "</option>");
                });
            }
        });
    }
    $(document).ready(function () {
        GetDetailsForManager();
    });
    
</script>
