@model List<RDDStaffPortal.DAL.DataModels.RDD_DashBoard_Main>

@if (Model != null && Model.Count() > 0)
{
    @*<li class="nav-item">*@
    @RDD_DashBoardMain_V1.GetDashBoard_V1(Model)
    @*</li>*@
}
