
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPwd</title>
</head>
<body>
    <div>
        <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-4 col-form-label">New Password :</label>
            <div class="col-md-8">
                <input type="password" class="form-control input-full" id="idnpass" placeholder="New Password">
            </div>
        </div>
        <div class="form-group form-inline">
            <label for="inlineinput" class="col-md-4 col-form-label">Conform Password :</label>
            <div class="col-md-8">
                <input type="password" class="form-control input-full" id="idcpass" placeholder="Conform Password">
            </div>
        </div>
    </div>
</body>
</html>
