@model List<RDDStaffPortal.DAL.DataModels.RDD_Menus>

   


@*<div id="link-content">*@

    @if (Model != null && Model.Count() > 0)
    {
       
            @TreeviewMenu.GetTreeview(Model, Model.FirstOrDefault().ModuleId)
       
    }
@*</div>*@