
@{
    ViewBag.Title = "Menu Master";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Modules & Menus</h4>
            </div>
            <div class="row">
                <div class="col-md-2 padd-0">
                    <div class="form-group">
                        <label for="email2" class="width100px">Types :</label>
                        <br />
                        <input type="radio" id="rdbn" name="rdbtn" value="P" checked />Modules
                        <input type="radio" id="rdbn" name="rdbtn" value="M" />Menus

                    </div>

                </div>
                <div class="col-md-1 padd-0">
                    <div class="form-group">
                        <label for="email2" class="width100px">Levels :</label>
                        <select class="form-control" id="ddlLevels">
                            <option value="-1">-Select-</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                

                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive-xl">
                                <div class="row addwidgetclass mar-b10">
                                    <div class="col-md-12 padd-0">
                                        <div class="form-group">
                                            <label for="email2" class="width100px">Menu :</label>
                                            <input type="hidden" id="txtMenuId" />
                                            <input type="text" class="form-control width180px" id="txtMenuName" placeholder="Menu Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email2" class="width100px">URL :</label>
                                            <input type="text" class="form-control width220px" id="txtURL" placeholder="Enter URL">
                                        </div>
                                        <div class="form-group" id="divcss">
                                            <label for="email2" class="width100px">CSS Class :</label>
                                            <input type="text" class="form-control width150px" id="txtCssClass" placeholder="Css Class">
                                        </div>
                                        <div class="form-group">
                                            <label for="email2" class="width100px">Display Seq :</label>
                                            <input type="text" class="form-control width100px" placeholder="Sequence" id="txtDisplaySeq">
                                        </div>
                                        <div class="form-group" id="divmod">
                                            <label for="email2" class="width120px">Module :</label>
                                            <div class="input-group width160px">
                                                <select class="form-control" id="ddlModules">
                                                </select>
                                                <input type="hidden" id="inpmodulehdn" />
                                                @*<div class="input-group-append">
                    <span class="input-group-text" data-toggle="modal" data-target="#ModulesPopUp"><i class="fas fa-plus"></i></span>
                </div>*@
                                            </div>
                                        </div>
                                        <div class="form-group" id="DivObj">
                                            <label for="email2" class="width100px">Object Type :</label>
                                            <input type="text" class="form-control width100px" placeholder="Object Type" id="txtObjTyp">
                                        </div>
                                        <div class="form-group">
                                            <label for="email2" class="width100px">Default</label>
                                            <div class="mar-t7">
                                                <div class="input-group">
                                                    <label class="switch">
                                                        <input type="checkbox" id="chkIsDefaultMenu" value="true" checked><div></div>
                                                    </label>
                                                </div>
                                            </div>
                                            @*data-toggle="toggle" data-onstyle="primary"<div><input type="checkbox" id="chkIsDefaultMenu" checked data-toggle="toggle" data-onstyle="primary"></div>*@
                                        </div>

                                        <div class="form-group">
                                            <label for="email2" class="width60px"></label>
                                            <div class="mar-t7"><button type="button" class="btn btn-info submitbtn add-new" id="btnSaveMenu">Save</button></div>

                                        </div>
                                        <div class="form-group">
                                            <label for="email2" class="width60px"></label>
                                            <div class="mar-t7"><button type="button" class="btn btn-danger submitbtn add-new" id="btnClearMenu">Clear</button></div>

                                        </div>


                                    </div>

                                </div>
                                <div class="row">
                                    <div class="loader1"></div>
                                    <div class="table-responsive-xl">
                                        <table class="display table table-striped table-hover dataTable table-head-bg-info" id="tblMenusList">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Levels</th>
                                                    <th>URL</th>
                                                    <th>Css Class</th>
                                                    <th>Seq No</th>
                                                    @*<th class="width1px" style="visibility:hidden" >Id</th>*@
                                                    <th>Module</th>
                                                    <th>Object Type</th>
                                                    <th>Default</th>
                                                    <th></th>
                                                    <th style="width: 10%">Actions</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                @*<div class="row mar-t10">
                            <ul class="pagination pg-primary">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>*@

                            </div>

                        </div>

                    </div>

                </div>
            </div>
    </div>
</div>


<div class="modal fade" id="ModulesPopUp" tabindex="-1" role="dialog" aria-labelledby="ModulesPopUpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           @*This DIV is to show alert message - success and Failed/Error*@
            <div id="AlertMessage" >
            </div>

            <div class="modal-header">

                <h5 class="modal-title" id="ModulesPopUpLabel">Add Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email2" class="width100px">Module Name :</label>
                    <input type="text" class="form-control" id="txtModuleName">
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email2" class="width100px">Css Class :</label>
                    <input type="text" class="form-control" id="txtModuleCssClass">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="BtnAddModule">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--   Core JS Files   -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".loader1").show();
        $("#txtSearchMenus").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tblMenusList tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

       // To bind Modules on PageLoad
      //  BindModules();
        GetMenuList();
        $(".loader1").hide();
       // $('#tblMenusList').DataTable().column(6).visible(false);

    });
    $('#divmod').hide();
    $("#DivObj").hide();
    
    $("#ddlLevels").on("change", function () {
        var lvls = $('#ddlLevels').val();
        if (lvls > 0) {
            BindModules();
            $('#divmod').show();
        } else {
            $('#divmod').hide();
        }
    });

    $("input[id='rdbn']").on('click', function () {
        debugger
        var typ = $('#rdbn:checked').val();
        if (typ == 'P') {
            $('#divcss').show();
            $("#DivObj").hide();
        } else {
            $("#DivObj").show();
            $('#divcss').hide();
        }
    });
    // START : Add New Module //
    $('#BtnAddModule').click(function () {
        debugger;
        if ($("#txtModuleName").val() == "") {
            RedDotAlert_Error('please enter Module Name');
            $("#txtModuleName").focus();
            return false;
        }
        if ($("#txtModuleCssClass").val() == "") {
            RedDotAlert_Error('please enter css class for Module');
            $("#txtModuleCssClass").focus();
            return false;
        }
        var ModuleData = {};
        ModuleData["ModuleName"] = $("#txtModuleName").val();
        ModuleData["ModuleCssClass"] = $("#txtModuleCssClass").val();

        var data = JSON.stringify({
            module: ModuleData,
        });
        $.ajax({
            type: "Post",
            url: "/Menus/AddModule",
            data: data,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result == "Record Saved Successfully" || result == "Record Updated Successfully") {
                    $('#AlertMessage').html('<div class="alert alert-success alert-dismissible"><a href = "#" class= "close" data-dismiss="alert" aria-label="close" >&times;</a ><strong>Success ! </strong> ' + result + '</div >');
                    $("#txtModuleName").val('');
                    $("#txtModuleCssClass").val(''); 
                    BindModules();
                }
                else {
                    $('#AlertMessage').html('<div class="alert alert-danger alert-dismissible"><a href = "#" class= "close" data-dismiss="alert" aria-label="close" >&times;</a ><strong>Failed ! </strong> ' + result + '</div >');
                }
            }
        });
    });
    // END : Add New Module //


    // START : Fill Modules in Drop down list
    function BindModules() {
        debugger;   
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: '/Menus/BindModules',                            
            data: { Levels: $("#ddlLevels").val() - 1 },
            dataType: "JSON",
            success: function (modules) {
                debugger;
                $("#ddlModules").html("");
                $("#ddlModules").append($('<option/>', { value: -1, text: '--Select--' }));
                $.each(modules, function (i, value) {
                    $("#ddlModules").append(
                        $('<option></option>').val(value.ModuleId).html(value.ModuleName));
                });
            }
        });
       
    }
    // START : Fill Modules in Drop down list


    // START : Bind data of existing Menus
    function GetMenuList() {
       // $('#tblMenusList').html('');

        var colms = [
            { "mDataProp": "MenuId", "sWidth": "10%" },
            { "mDataProp": "MenuName", "sWidth": "30%" },
            { "mDataProp": "Levels", "sWidth": "20%" },
            { "mDataProp": "URL", "sWidth": "40%" },
            { "mDataProp": "MenuCssClass", "sWidth": "30%" },
            { "mDataProp": "DisplaySeq", "sWidth": "20%" },
            {
                "mDataProp": "ModuleName",
                
                "sWidth": "40%"
            }, {
                "mDataProp": "ObjType",

                "sWidth": "20%"
            },
            {
                "mDataProp": "IsDefault",
                "render": function (data) {
                    if (data == true) {
                        return "<div class='input - group'>" +
                            " <label class='switch'>" +
                            " <input type='checkbox' id='chkIsDefault' disabled value='true' checked><div></div>" +
                            "</label>" +
                            "</div >" +
                            "</div >"
                    }
                        else {
                        return "<div class='input - group'>" +
                            " <label class='switch'>" +
                            " <input type='checkbox' id='chkIsDefault'disabled value='false' ><div></div>" +
                            "</label>" +
                            "</div >" +
                            "</div >"
                   
                    }
                    //if (data == true) {
                    //    return "<span><input id='chkIsDefault' type='checkbox' data-toggle='toggle' data-onstyle='primary' checked  disabled></span>";
                    //                              } else {
                    //    return "<span><input id='chkIsDefault' type='checkbox' data-toggle='toggle' data-onstyle='black' disabled></span>";
                    //                              }
                }


                , "sWidth": "25%"
            },
            {

                "mDataProp": "ModuleId",
                "render": function (data) {
                    
                    return "<span><input id='inphdnmdl' type='hidden' value='" + data +"'/>";
                    
                }

                , "sWidth": "10%",




            },
            {
                "data": null,
                "defaultContent": "<button type='button' data-toggle='tooltip' title='' class='btn btn-primary btn-xs mar-1 padd-l7 padd-r7 edit' data-original-title='Edit Task'><i class='fa fa-edit'></i></button><button type='button' data-toggle='tooltip' title='' class='btn btn-danger btn-xs mar-1 padd-l7 padd-r7 delete' data-original-title='Remove'><i class='fa fa-trash-alt'></i></button>",
                "targets": -1, "sWidth": "25%"
            }


        ];
       

        RdottableNDW('tblMenusList', '/Menus/GetMenuList', colms);
       // $(".toggle btn btn-primary").css("width", "0pxs");
        //$.get("/Menus/GetMenuList", null, BindMenus);
        //function BindMenus(MenuList) {
        //    var SetData = $('#tblMenusList');
        //    debugger;
        //    for (var i = 0; i < MenuList.length; i++) {
        //        var Data = "<tr class='row_" + MenuList[i].MenuId + "'>" +
        //            "<td>" + MenuList[i].MenuId + "</td>" +                   
        //            "<td>" + MenuList[i].MenuName + "</td>" +
        //            "<td>" + MenuList[i].Levels + "</td>" +
        //            "<td>" + MenuList[i].URL + "</td>" +
        //            "<td>" + MenuList[i].MenuCssClass + "</td>" +
        //            "<td>" + MenuList[i].DisplaySeq + "</td>" +
                    
        //            "<td><input id='inphdnmdl' type='hidden' value='" + MenuList[i].ModuleId+"'/>" +  MenuList[i].ModuleName + "</td>";

        //            if (MenuList[i].IsDefault == true) {
        //                Data = Data + "<td> <div> <input type='checkbox' id='chkIsDefault' checked data-toggle='toggle' data-onstyle='primary' disabled></div></td>  ";
        //            }
        //            else {
        //                Data = Data + "<td> <div> <input id='chkIsDefault' type='checkbox' data-toggle='toggle' data-onstyle='primary' disabled ></div></td>  ";
        //        }

        //        Data = Data + "<td> <button type='button' title='Edit' data-toggle='tooltip' class='btn btn-info edit'><i class='fas fa-edit'></i></button> " +
        //            "<button type='button' title='Delete' data-toggle='tooltip' class='btn btn-danger delete'><i class='fas fa-trash-alt'></i></button></td ></tr >";

        //        SetData.append(Data);
        //    }

        //    //$('#tblUser').DataTable()
        //}

    }
    // START : Fill Modules in Drop down list

    $('#btnClearMenu').click(function () {
        $("#txtObjTyp").val('');
        $("#txtMenuId").val('0');
        $("#txtMenuName").val('');
        $("#txtCssClass").val('');
        $("#txtURL").val('');
        $("#txtDisplaySeq").val('');
        $("#txtDisplaySeq").val('');
        $('#ddlLevels').val(-1).trigger('change');
    })
    $("input[type='checkbox']").on("click", function () {
        if ($("#chkIsDefaultMenu").val() == 'true') {
            $("#chkIsDefaultMenu").val('false');
            $("#chkIsDefaultMenu").removeAttr('checked');
        } else {
            $("#chkIsDefaultMenu").attr('checked', 'checked');
            $("#chkIsDefaultMenu").val('true')
        }

    }
    )
    //START : Add New Menu in Module //
    $('#btnSaveMenu').click(function () {

        debugger;
        var Moduleid = $("#ddlModules").val();
        if ($("#ddlLevels").val() == 0) {
            Moduleid = 0;
        } else if ($("#ddlLevels").val() == -1) {
            RedDotAlert_Error('please select Levels');
            $("#ddlLevels").focus();
            return false;
        }
        if ($.trim($("#txtMenuName").val()) == "") {
            RedDotAlert_Error('please enter Menu Name');
            $("#txtMenuName").focus();
            return false;
        }
        if ($.trim($("#txtURL").val()) == "" && $("#ddlLevels").val() > 0 && $('#rdbn:checked').val()=="M") {
            RedDotAlert_Error('please enter URL');
            $("#txtURL").focus();
            return false;
        }
        if ($.trim($("#txtCssClass").val()) == "" && $('#rdbn:checked').val() == "P") {
            RedDotAlert_Error('please enter css Class');
            $("#txtCssClass").focus();
            return false;
        }
        if ($.trim($("#txtDisplaySeq").val()) == "") {
            RedDotAlert_Error('please enter menu Display Sequence');
            $("#txtDisplaySeq").focus();
            return false;
        }
        
        if ($("#ddlModules option:selected").index() <= 0 && $("#ddlLevels").val() > 0) {
            RedDotAlert_Error("Please Select Module");
            $("#ddlModules").focus();
            return false;
        }
       
        if ($("#txtMenuId").val() == "") {
            $("#txtMenuId").val('0');
        }
        var MenuData = {};
        MenuData["ObjType"] = $("#txtObjTyp").val();
        MenuData["Levels"] = $("#ddlLevels").val();
        MenuData["MenuId"] = $("#txtMenuId").val();
        MenuData["MenuName"] = $("#txtMenuName").val();
        MenuData["MenuCssClass"] = $("#txtCssClass").val();
        MenuData["URL"] = $("#txtURL").val();
        MenuData["DisplaySeq"] = $("#txtDisplaySeq").val();
        MenuData["ModuleId"] = Moduleid;
        MenuData["ModuleName"] = $("#ddlModules :selected").text();
        MenuData["IsDefault"] = $("#chkIsDefaultMenu").is(":checked");// $("#chkIsDefaultMenu").val();
        var data = JSON.stringify({
            menu: MenuData,
        });

            $.ajax({
                type: "Post",
                url: "/Menus/AddMenu",
                data: data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    if (result == "Record Saved Successfully" || result == "Record Updated Successfully") {
                        //alert(result);
                        RedDotAlert_Success(result);
                        //$('#AlertMessage').html('<div class="alert alert-success alert-dismissible"><a href = "#" class= "close" data-dismiss="alert" aria-label="close" >&times;</a ><strong>Success ! </strong> ' + result + '</div >');
                        $("#txtMenuName").val('');
                        $("#txtObjTyp").val('');
                        $("#txtCssClass").val('');
                        $("#txtURL").val('');
                        $("#txtDisplaySeq").val('');
                        $("#txtDisplaySeq").val('');
                        $("#txtMenuId").val('0');
                        $('#ddlLevels').val(-1).trigger('change');
                       // GetMenuList();
                        $('#btnreload').trigger('click');
                        
                    }
                    else {
                        RedDotAlert_Error(result);
                        //$('#AlertMessage').html('<div class="alert alert-danger alert-dismissible"><a href = "#" class= "close" data-dismiss="alert" aria-label="close" >&times;</a ><strong>Failed ! </strong> ' + result + '</div >');
                    }
                }
            });

    });

    //START : Add New Menu in Module //


    // Edit row on edit button click
    $(document).on("click", ".edit", function () {
        
        if ($(this).closest('tr').find('td').eq(3).text() == '') {
            $("input[name=rdbtn][value='P']").prop('checked', true);
            $("#DivObj").hide();
        } else {
            $("#DivObj").show();
            $("input[name=rdbtn][value='M']").prop('checked', true);
        }
        $('#txtMenuId').val($(this).closest('tr').find('td').eq(0).text());
        $('#txtMenuName').val($(this).closest('tr').find('td').eq(1).text());
        $('#ddlLevels').val($(this).closest('tr').find('td').eq(2).text()).trigger('change');
        $('#txtURL').val($(this).closest('tr').find('td').eq(3).text());    
        $('#txtCssClass').val($(this).closest('tr').find('td').eq(4).text());
        $('#txtDisplaySeq').val($(this).closest('tr').find('td').eq(5).text());
        //var Module = $(this).closest('tr').find('td').eq(6).text();
        //var modules = Module.split('-');
        //$('#ddlModules').val(modules[0]);

        $('#txtObjTyp').val($(this).closest('tr').find('td').eq(7).text());

        var lvls = $('#ddlLevels').val();
        if (lvls > 0) {
            BindModules();
            $('#divmod').show();
        } else {
            $('#divmod').hide();
        }
        $('#ddlModules').val($(this).closest('tr').find("input[id='inphdnmdl']").val()).trigger('change');
        debugger;
       // $('#inpmodulehdn').val();
       

        var IsDefault = $(this).closest('tr').find('input[type="checkbox"]').val();
        if (IsDefault == "false") {
            $("#chkIsDefaultMenu").val('false');
            $("#chkIsDefaultMenu").removeAttr('checked');
        } else {
            $("#chkIsDefaultMenu").attr('checked', 'checked');
            $("#chkIsDefaultMenu").val('true')
        }

    });

    //Delete row on delete button click
    $(document).on("click", ".delete", function () {        
        var tr = $(this).closest("tr");

        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {                
                $.getJSON("/Menus/DeleteMenu", { MenuId: tr.find('td').eq(0).text() }).done(function (data) {
                    if (data.DeleteFlag == "Already Use") {
                        RedDotAlert_Error(data.DeleteFlag);
                        return
                        $('#btnreload').trigger('click');
                    }
                    if (data.DeleteFlag == "Deleted") {
                       tr.remove();
                        $('#btnreload').trigger('click');
                    }
                }); 
                swalWithBootstrapButtons.fire(
                    'Deleted!',
                    'Your Code has been deleted.',
                    'success'
                )

            } else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your Code is safe :)',
                    'error'
                )
            }
        })
              
    });

    //// Add row on add button click
    //$(document).on("click", ".add", function () {
    //    debugger;
    //    //var MenuId = $(this).closest('tr').find('td').eq(0).text();
    //    //var MenuName = $(this).closest('tr').find('input[type="text"]').eq(0).val();
    //    //var URL = $(this).closest('tr').find('input[type="text"]').eq(1).val();
    //    //var CssClass = $(this).closest('tr').find('input[type="text"]').eq(2).val();
    //    //var DisplaySeq = $(this).closest('tr').find('input[type="text"]').eq(2).val();
    //    //var Module = $(this).closest('tr').find('td').eq(5).text();
    //    //var IsDefault = $(this).closest('tr').find('input[type="checkbox"]').val();
        
    //});


    //// Delete row on delete button click
    //$(document).on("click", ".delete", function () {
    //    //$(this).parents("tr").remove();
    //    $(".add-new").removeAttr("disabled");
    //    $(this).parents("tr").find(".add, .edit").toggle();
    //});

</script>



