
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<div class="main-panel">
    <div class="container">
        @*<div class="loader1"></div>*@
        <div class="page-inner">
            <div class="page-header">
                <div class="col-md-6 col-lg-6 p-0"><h4 class="page-title">Incentive Slab</h4></div>
                <div class="col-xl-1 col-md-1 ml-auto text-right p-0">
                    <button class="btn btn-info btn-sm" id="btnAdd">New</button>
                    <button class="btn btn-info btn-sm" id="btnSave">Save</button>
                    <button class="btn btn-danger btn-sm" id="btnCancel">Cancel</button>
                </div>
            </div>
            <div class="rowmin" id="divKPIslabshow">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div id="idCard">

                            </div>
                            <div class="rowmin row mar-b10" id="tblid1">
                                <div class="col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Search" class="form-control form-control-sm" id="Search-Forms">
                                    </div>
                                </div>
                            </div>

                            <div id="tblid" class="table-responsive">
                                <div class="reddotTable sm-form mar-t0">
                                    <div class="loader1"></div>
                                    <div id="IIInd" class="reddotTableBody">
                                        <div class="reddotTableRow odd-even-row">
                                            <div class="reddotTableHead"><div>Slab ID</div></div>
                                            <div class="reddotTableHead"><div>Period</div></div>
                                            <div class="reddotTableHead"><div>Year</div></div>
                                            <div class="reddotTableHead"><div>CreatedOn </div></div>
                                            <div class="reddotTableHead"><div>CreatedBy </div></div>
                                            <div class="reddotTableHead"><div>LastUpdatedOn </div></div>
                                            <div class="reddotTableHead"><div>LastUpdatedBy </div></div>
                                        </div>
                                    </div>
                                    <div id="IIIbody" class="reddotTableBody">
                                        <div id="IIIst" class="reddotTableRow odd-even-row">
                                            <div class="reddotTableCell Abcd"><div>Slab ID</div></div>
                                            <div class="reddotTableCell Abcd"><div>Period</div></div>
                                            <div class="reddotTableCell Abcd"><div>Year</div></div>
                                            <div class="reddotTableCell Abcd"><div></div></div>
                                            <div class="reddotTableCell Abcd"><div>CreatedBy</div></div>
                                            <div class="reddotTableCell Abcd"><div>LastUpdatedOn</div></div>
                                            <div class="reddotTableCell Abcd"><div>LastUpdatedBy</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mar-t10">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination mar-b0">
                                            <li class="page-item prev"><a class="page-link" href="#">Previous</a></li>
                                            <li class="page-item next"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GetPartial">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var tblhead1 = ['SlabId', 'Period', 'Years', 'CreatedOn', 'CreatedBy', 'LastUpdatedOn', 'LastUpdatedBy'];
    var tblhide = [];
    var tblhead2 = [];
    var dateCond = ['CreatedOn', 'LastUpdatedOn'];
    var arr = [];
    var curPage = 1;
    function GetSlabData() {
        debugger;
        var value1 = $("#Search-Forms").val().toLowerCase();
        $('.loader1').show();
        var data = JSON.stringify({
            pagesize: 50,
            pageno: curPage,
            psearch: value1,
        });
        arr = RedDot_DivTable_Fill("III", "/GETSLAB", data, dateCond, tblhead1, tblhide, tblhead2);
        debugger;
    }
    //#region Next Button*/
    $('.next').bind('click', function (e) {
        e.preventDefault();
        $(".loader1").show();
        if (arr.data[0].TotalCount < 50) {
            $(".loader1").hide();
            return;
        }
        curPage++;
        var value1 = $("#Search-Forms").val().toLowerCase();
        if (curPage > arr.data[0].TotalCount)
            curPage = 0;
        var data = JSON.stringify({
            pagesize: 50,
            pageno: curPage,
            psearch: value1,
        });
        arr = RedDot_DivTable_Fill("III", "/GETSLAB", data, dateCond, tblhead1, tblhide, tblhead2);
    });
    //#endregion
    //#region Prev Button*/
    $('.prev').bind('click', function (e) {
        e.preventDefault();
        $(".loader1").show();
        var value1 = $("#Search-Forms").val().toLowerCase();
        if (arr.data[0].TotalCount < 50) {
            $(".loader1").hide();
            return;
        }
        curPage--;

        if (curPage < 0)
            curPage = (arr.data[0].TotalCount - 1);
        var data = JSON.stringify({
            pagesize: 50,
            pageno: curPage,
            psearch: value1,
        });
        arr = RedDot_DivTable_Fill("III", "/GETSLAB", data, dateCond, tblhead1, tblhide, tblhead2);
    });
    //#endregion
    //#region Search Textbox*/
    $("#Search-Forms").on("keyup", function (e) {
        e.preventDefault();
        $(".loader1").show();
        var value1 = $(this).val().toLowerCase();
        var data = JSON.stringify({
            pagesize: 50,
            pageno: curPage,
            psearch: value1,
        });
        arr = RedDot_DivTable_Fill("III", "/GETSLAB", data, dateCond, tblhead1, tblhide, tblhead2);
    });
    //#endregion
    $(document).ready(function () {
        GetSlabData();
        $("#btnNew").show();
        $("#btnSave").hide();
        $("#btnCancel").hide();
    });
    $(document).on('click', '#btnNew', function () {
        //GetKPIdetails();
        GetYearList();
        $("#divKPIslabshow").hide();
        $("#btnNew").hide();
        $("#btnSave").show();
        $("#btnCancel").show();
    });
    $(document).on('click', '#btnAdd', function (e) {
        e.preventDefault();        
        $.post("/ADDSLAB", { TEMPId: -1 }, function (response) {
            debugger
            $("#idCard").html(response);
            $(".loader1").hide();
            RedDot_Button_New_HideShow();
            //GetKPIdetails();
            //GetKPIdetailsModal();
        })
    });
    $(document).on('click', '#btnCancel', function (e) {
        e.preventDefault();
        RedDot_Button_Init_HideShow();
        $("#idCard").html("");
        $("#divKPIshow").show();
        $("#ContantsPayment").hide();
        $("#btnNew").show();
        $("#btnSave").hide();
        $("#btnCancel").hide();
    });
    var tblDetails = ['HdnSrno', 'AchivePercentFrom', 'AchivePercentTo', 'IncentivePercent'];
    $(document).on("focusout", "#IIst input[id^='IncentivePercent']", function (e) {
        e.preventDefault();
        var m = $(".OriginatorDet").length;
        var tr = $("#IIst").clone(true);
        var tr2 = $(this).closest("#IIst");
        var Hdnsrno = tr2.find("input[id^='HdnSrno']").val();
        var AchvFrom = tr2.find("input[id^='AchivePercentFrom']").val();
        var AchvTo = tr2.find("input[id^='AchivePercentTo']").val();
        var IncntvPrcnt = tr2.find("input[id^='IncentivePercent']").val();
        if (AchvFrom == '' || AchvTo == '' || IncntvPrcnt == '') {
            RedDotAlert_Warning("Please Fill All The Field");
            return;
        }
        //tr.find("input[id^='AchivePercentFrom']").val('');
        //tr.find("input[id^='AchivePercentTo']").val('');
        //tr.find("input[id^='IncentivePercent']").val('');
        if (m > parseInt(Hdnsrno)) {
            return;
        }
        var count1 = parseInt(Hdnsrno) + 1;
        tr.find("input[id^='HdnSrno']").val(count1);
        RedDot_Table_Attribute(tr, tblDetails, count1, ".OriginatorDet", "hdncount");
        $("#IIbody").append(tr);
    });
    var counter = 0;

    $(document).on('click', '.ibtnDel', function (e) {
        e.preventDefault();
        var count2 = parseInt($("#hdncount").val());
        var tr = $(this).closest("#IIst");
        var m = tr.find("input[id^='HdnSrno']").val();
        if (count2 == 1 || m == count2) {
            return;
        }
        RedDot_Table_DeleteActivity(tr, tblDetails, ".OriginatorDet", "hdncount");
    });
    $(document).on('click', '#btnSave', function () {
        $("#btnSave").attr("disabled", true);
        $('.loader1').show();
        var RDD_Incentive = {
            SlabId: $("#SlabId").val(),
            Years: $("#Years option:selected").val(),
            Period: $("#Period option:selected").val(),
            EditFlag: $("#EditFlag").val(),
            RDD_IncentiveSlabs_TransList: []
        };
        $(".OriginatorDet").each(function () {
            var Currow = $(this).closest("#IIst");
            var AchivePercentFrom = $(this).find("[name^='AchivePercentFrom']").val();
            var AchivePercentTo = $(this).find("[name^='AchivePercentTo']").val();
            var IncentivePercent = $(this).find("[name^='IncentivePercent']").val();
            if (AchivePercentFrom != '' && AchivePercentTo != '' && IncentivePercent != '' && AchivePercentFrom != undefined && AchivePercentTo != undefined && IncentivePercent!=undefined) {
                var RDD_IncentiveSlabs_Trans = {
                    Achieved_Percentage_From: AchivePercentFrom,
                    Achieved_Percentage_To: AchivePercentTo,
                    Incentive_Percentage: IncentivePercent
                };
                RDD_Incentive.RDD_IncentiveSlabs_TransList.push(RDD_IncentiveSlabs_Trans);
            }
        });
        var ValidateFormCheck = ValidateForm(RDD_Incentive);
        if (ValidateFormCheck.formValid == false) {
            RedDotAlert_Error(ValidateFormCheck.ErrorMessage);
            return;
        }
        var data = JSON.stringify({ RDD_Incentive: RDD_Incentive });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveIncentiveSlab", "IncentiveSlab")',
            async: false,
            cache: false,
            data: data,
            dataType: "Json",
            contentType: "Application/json",
            success: function (data) {
                debugger
                $('.loader1').hide();
                $("#btnSave").removeAttr("disabled", true);
                if (data[0].Outtf == true) {
                    RedDotAlert_Success(data[0].Responsemsg);
                    window.location.href = '@Url.Action("Index", "IncentiveSlab")';
                } else {
                    RedDotAlert_Error(data[0].Responsemsg);
                }
            }
        });
    });
    $("#IIIbody").on('dblclick', "#IIIst", function (e) {
        e.preventDefault();
        var TEMPId = $(this).closest("IIIst").prevObject.find(".Abcd").eq(0).text();
        $.post("/ADDSLAB", { TEMPId: TEMPId }, function (response) {
            $("#idCard").html(response);
            $(".loader1").hide();
            RedDot_Button_New_HideShow();
        })
    });
    function ValidateForm(RDD_Incentive) {
        var response = {
            ErrorMessage: "",
            formValid: false
        };

        if (RDD_Incentive.Years == "0" || RDD_Incentive.Years == "-1") {
            response.ErrorMessage += "Year,";
        }

        if (RDD_Incentive.Period == "0" || RDD_Incentive.Period == "-1") {
            response.ErrorMessage += "Period,";
        }

        if (response.ErrorMessage.length == 0) {
            response.formValid = true;
        }
        else {
            response.ErrorMessage = "Enter Mandatory Fields " + response.ErrorMessage + "."
        }

        return response;
    }
</script>
