
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartialView_IncentiveSlab</title>
</head>
<body>
    <div class="rowmin">
        <div class="col-md-12">
            <div class="card full-height">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-1 col-md-1">
                            <div class="form-group">
                                <label for="email2">Year :</label>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1">
                            <div class="form-group">
                                <select class="form-control" id="ddlYear">
                                    <option value="0">-- Select Year --</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1">
                            <div class="form-group">
                                <label for="email2">Period :</label>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1">
                            <div class="form-group">
                                <select class="form-control" id="ddlPeriod">
                                    <option value="0">-- Select Period --</option>
                                    <option value="H1">H1</option>
                                    <option value="H2">H2</option>                                    
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="table-responsive">
                                <div class="quick-scroll scrollbar-inner">
                                    <div class="reddotTable  sm-form">
                                        <div class="reddotTableBody">
                                            <div class="reddotTableRow odd-even-row">
                                                <div class="reddotTableHead width20per"><div>Achieve % From</div></div>
                                                <div class="reddotTableHead width20per"><div>Achieve %  To</div></div>
                                                <div class="reddotTableHead width20per"><div>Incentive %</div></div>
                                                <div class="reddotTableHead width10per"><div>Action</div></div>
                                            </div>
                                        </div>
                                        <div class="reddotTableBody" id="AddfromtoemailRow"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-1">
                            <button type="button" class="btn btn-success btn-sm mar-t11" id="fromtoemail">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
