@model RDDStaffPortal.DAL.DataModels.Voucher.RDD_PV

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <div class="col-md-6 col-lg-6 p-0"><h4 class="page-title">Payment Voucher</h4></div>
                <div class="col-xl-1 col-md-1 ml-auto text-right p-0">
                    <button class="btn btn-success btn-sm" id="btnAdd">New PV</button>
                    <button class="btn btn-info btn-sm" id="btnSave">save</button>
                    <button class="btn btn-danger btn-sm" id="btnCancel">Cancel</button>


                    <button class="btn btn-warning btn-sm" id="btnSendMail">Send Mail to Signatories</button>
                </div>

                <input id="CityName" type="text">
            </div>
            <div class="rowmin">
                <div class="col-md-12">

                    <div class="card" id="idCard">

                    </div>
                    <div class="rowmin row mar-b10" id="tblid1">


                        <div class="col-xl-4 col-md-4">
                            <div class="form-group">
                                <input type="text" placeholder="Search" class="form-control form-control-sm" id="Search-Forms">
                            </div>
                        </div>


                        <div class="col-xl-2 col-md-2 ml-auto text-right">
                            <div class="form-group">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#SelectWidgetspopup" title="Hide Column"><i href="#" class="fas fa-minus-circle"></i></button>



                            </div>
                        </div>
                    </div>

                    <div class="table-responsive" id="tblid">
                        <div>
                            <div class="reddotTable sm-form mar-t0">
                                <div class="loader1"></div>
                                <div id="Ind" class="reddotTableBody">
                                    <div class="reddotTableRow odd-even-row">
                                        <div class="reddotTableHead"><div>PVId </div></div>
                                        <div class="reddotTableHead"><div>Country </div></div>
                                        <div class="reddotTableHead"><div>RefNo </div></div>
                                        <div class="reddotTableHead"><div>DocStatus </div></div>
                                        <div class="reddotTableHead"><div>VType </div></div>
                                        <div class="reddotTableHead"><div>DBName </div></div>
                                        <div class="reddotTableHead"><div>Currency </div></div>
                                        <div class="reddotTableHead"><div>VendorCode </div></div>
                                        <div class="reddotTableHead"><div>VendorEmployee </div></div>
                                        <div class="reddotTableHead"><div>Benificiary </div></div>
                                        <div class="reddotTableHead"><div>RequestedAmt </div></div>
                                        <div class="reddotTableHead"><div>ApprovedAmt </div></div>
                                        <div class="reddotTableHead"><div>BeingPayOf </div></div>
                                        <div class="reddotTableHead"><div>PayRequestDate </div></div>
                                        <div class="reddotTableHead"><div>BankCode </div></div>
                                        <div class="reddotTableHead"><div>BankName </div></div>
                                        <div class="reddotTableHead"><div>PayMethod </div></div>
                                        <div class="reddotTableHead"><div>PayRefNo </div></div>
                                        <div class="reddotTableHead"><div>PayDate </div></div>
                                        <div class="reddotTableHead"><div>FilePath </div></div>
                                        <div class="reddotTableHead"><div>ClosedDate </div></div>
                                        <div class="reddotTableHead"><div>CAappStatus </div></div>
                                        <div class="reddotTableHead"><div>CAappRemarks </div></div>
                                        <div class="reddotTableHead"><div>CAapprovedBy </div></div>
                                        <div class="reddotTableHead"><div>CAapprovedOn </div></div>
                                        <div class="reddotTableHead"><div>CMappStatus </div></div>
                                        <div class="reddotTableHead"><div>CMappRemarks </div></div>
                                        <div class="reddotTableHead"><div>CMapprovedBy </div></div>
                                        <div class="reddotTableHead"><div>CMapprovedOn </div></div>
                                        <div class="reddotTableHead"><div>CFOappStatus </div></div>
                                        <div class="reddotTableHead"><div>CFOappRemarks </div></div>
                                        <div class="reddotTableHead"><div>CFOapprovedBy </div></div>
                                        <div class="reddotTableHead"><div>CFOapprovedOn </div></div>

                                    </div>
                                </div>
                                <div id="Ibody" class="reddotTableBody">

                                    <div id="Ist" class="reddotTableRow odd-even-row">
                                        <div class="reddotTableCell Abcd"><div>PVId</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>Country</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>RefNo</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>DocStatus</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>VType</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>DBName</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>Currency</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>VendorCode</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>VendorEmployee</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>Benificiary</div></div>
                                        <div class="reddotTableCellRight Abcd"><div>RequestedAmt</div></div>
                                        <div class="reddotTableCellRight Abcd"><div>ApprovedAmt</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>BeingPayOf</div></div>
                                        <div class="reddotTableCell Abcd"><div>PayRequestDate</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>BankCode</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>BankName</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>PayMethod</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>PayRefNo</div></div>
                                        <div class="reddotTableCell Abcd"><div>PayDate</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>FilePath</div></div>
                                        <div class="reddotTableCell Abcd"><div>ClosedDate</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CAappStatus</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CAappRemarks</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CAapprovedBy</div></div>
                                        <div class="reddotTableCell Abcd"><div>CAapprovedOn</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CMappStatus</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CMappRemarks</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CMapprovedBy</div></div>
                                        <div class="reddotTableCell Abcd"><div>CMapprovedOn</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CFOappStatus</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CFOappRemarks</div></div>
                                        <div class="reddotTableCellLeft Abcd"><div>CFOapprovedBy</div></div>
                                        <div class="reddotTableCell Abcd"><div>CFOapprovedOn</div></div>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="row mar-t10">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mar-b0">
                                    <li class="page-item prev"><a class="page-link" href="#">Previous</a></li>
                                    <li class="page-item next"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>

</div>
<div class="modal fade" id="SelectWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Show/Hide Columns</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body selectwidget-section">
                <div class="row rowmin" id="idchk">
                    @*<div class="col-md-12 mar-b10">
                            <div class="row" id="idchk"> </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnApply" type="button" class="btn btn-info btn-sm">Apply</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript">
    var tblhead1 = ['PVId', 'Country', 'RefNo', 'DocStatus', 'VType', 'DBName', 'Currency', 'VendorCode', 'VendorEmployee', 'Benificiary', 'RequestedAmt', 'ApprovedAmt', 'BeingPayOf',
        'PayRequestDate', 'BankCode', 'BankName', 'PayMethod', 'PayRefNo', 'PayDate', 'FilePath', 'ClosedDate', 'CAappStatus', 'CAappRemarks', 'CAapprovedBy', 'CAapprovedOn',
        'CMappStatus', 'CMappRemarks', 'CMapprovedBy', 'CMapprovedOn', 'CFOappStatus', 'CFOappRemarks', 'CFOapprovedBy', 'CFOapprovedOn'];
    var tblhide = [];
    var tblhead2 = [];
    $(document).ready(function () {

      

        $('.loader1').show();
        var k1 = 0;
        var arr = [];
        var curPage = 1;
        while (tblhead1.length > k1) {
            if (jQuery.inArray(tblhead1[k1], tblhide) !== -1) {
                //$("#idchk").append(" <div class='col-sm-1 col-md-1 text-right'><input id='" + tblhead1[k1]+"' type='checkbox' ></div><div class='col-sm-2 col-md-2'>" + tblhead1[k1] + "</div> ");
                $('div#' + tblhead1[k1] + '1').addClass("Abc");
                $("#idchk").append("<div class='col-md-3 mar-b10'><div class='panel'><div class='row'><div class='col-sm-10 col-md-10'><div class='widget-content padd-0'><span class='widget-name'> " + tblhead1[k1] + "</span></div></div><div class='col-sm-2 col-md-2 ml-auto'><label class='colorinput mar-t6 mar-b0'><input id='" + tblhead1[k1] + "' type='checkbox' class='colorinput-input'><span class='colorinput-color bg-secondary'></span><div> </label></div></div></div></div></div>");
            } else {
                if (jQuery.inArray(tblhead1[k1], tblhead2) == -1) {
                    $('div#' + tblhead1[k1] + '1').removeClass("Abc");
                    $("#idchk").append("<div class='col-md-3 mar-b10'><div class='panel'><div class='row'><div class='col-sm-10 col-md-10'><div class='widget-content padd-0'><span class='widget-name'> " + tblhead1[k1] + "</span></div></div><div class='col-sm-2 col-md-2 ml-auto'><label class='colorinput mar-t6 mar-b0'><input id='" + tblhead1[k1] + "' type='checkbox' class='colorinput-input' checked><span class='colorinput-color bg-secondary'></span><div> </label></div></div></div></div></div>");
                }
            }
            k1++;
        }
        $('.loader1').hide();
        RedDot_Button_Init_HideShow();
        Getdata();
        function Getdata() {
            var value1 = $("#Search-Forms").val().toLowerCase();

            $('.loader1').show();
            $.ajax({
                type: "POST",
                url: "/GETRDDPV",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                }),
                success: function (data) {
                    $("#Ist").show();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".Abcd").length;
                            while (l1 > k) {
                                if (tblhead1[k] == 'PayRequestDate' || tblhead1[k] == 'PayDate' || tblhead1[k] == 'ClosedDate' || tblhead1[k] == 'CAapprovedOn' || tblhead1[k] == 'CMapprovedOn' || tblhead1[k] == 'CFOapprovedOn') {
                                    debugger
                                    tr.find(".Abcd")[k].children[0].textContent = RdotdatefrmtRes1(arr.data[i][tblhead1[k]]);
                                } else {
                                    tr.find(".Abcd")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                }
                                debugger
                                var t = tblhead1[k];
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".Abcd").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }

                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RedDotAlert_Error("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }
            });
        }
        $('.next').bind('click', function () {
            $(".loader1").show();
            curPage++;
            var value1 = $("#Search-Forms").val().toLowerCase();
            if (curPage > arr.data[0].TotalCount)
                curPage = 0;
            $.ajax({
                type: "POST",
                url: "/GETRDDPV",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,

                }),
                success: function (data) {

                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".Abcd").length;
                            while (l1 > k) {
                                if (tblhead1[k] == 'PayRequestDate' || tblhead1[k] == 'PayDate' || tblhead1[k] == 'ClosedDate' || tblhead1[k] == 'CAapprovedOn' || tblhead1[k] == 'CMapprovedOn' || tblhead1[k] == 'CFOapprovedOn') {
                                    debugger
                                    tr.find(".Abcd")[k].children[0].textContent = RdotdatefrmtRes1(arr.data[i][tblhead1[k]]);
                                } else {
                                    tr.find(".Abcd")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                }
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".Abcd").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }


                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RedDotAlert_Error("No Record Found");
                    }

                }, complete: function () {
                    $(".loader1").hide();
                }
            });
        });

        $('.prev').bind('click', function () {
            $(".loader1").show();
            var value1 = $("#Search-Forms").val().toLowerCase();
            curPage--;
            if (curPage < 0)
                curPage = (arr.data[0].TotalCount - 1);
            $.ajax({
                type: "POST",
                url: "/GETRDDPV",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".Abcd").length;
                            while (l1 > k) {
                                if (tblhead1[k] == 'PayRequestDate' || tblhead1[k] == 'PayDate' || tblhead1[k] == 'ClosedDate' || tblhead1[k] == 'CAapprovedOn' || tblhead1[k] == 'CMapprovedOn' || tblhead1[k] == 'CFOapprovedOn') {
                                    debugger
                                    tr.find(".Abcd")[k].children[0].textContent = RdotdatefrmtRes1(arr.data[i][tblhead1[k]]);
                                } else {
                                    tr.find(".Abcd")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                }
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".Abcd").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RedDotAlert_Error("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }
            });
        });

        $("#btnApply").on("click", function () {
            $(".loader1").show();
            tblhide = [];
            $('input:checkbox').each(function () {

                var IsActiveTxt = $(this).is(":checked");
                if (IsActiveTxt == false && $(this).attr("id") != undefined) {

                    tblhide.push($(this).attr("id"));
                    $('div#' + $(this).attr("id") + '1').addClass("Abc");
                } else {
                    $('div#' + $(this).attr("id") + '1').removeClass("Abc");
                }
                $("select").val('').trigger('change');
            });
            var value1 = $("#Search-Forms").val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/GETRDDPV",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: 1,
                    psearch: value1,
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".Abcd").length;
                            while (l1 > k) {
                                if (tblhead1[k] == 'PayRequestDate' || tblhead1[k] == 'PayDate' || tblhead1[k] == 'ClosedDate' || tblhead1[k] == 'CAapprovedOn' || tblhead1[k] == 'CMapprovedOn' || tblhead1[k] == 'CFOapprovedOn') {
                                    debugger
                                    tr.find(".Abcd")[k].children[0].textContent = RdotdatefrmtRes1(arr.data[i][tblhead1[k]]);
                                } else {
                                    tr.find(".Abcd")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                }
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".Abcd").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();

                    } else {

                        $("#Ist").hide();
                        RedDotAlert_Error("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                    $('.close').trigger("click");
                }, error: function () {
                    $(".loader1").hide();
                    $('.close').trigger("click");
                }
            });
        })
        $("#Search-Forms").on("keyup", function () {
            $(".loader1").show();
            var value = $(this).val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/GETRDDPV",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value,
                }),
                success: function (data) {
                    debugger
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".Abcd").length;
                            while (l1 > k) {
                                if (tblhead1[k] == 'PayRequestDate' || tblhead1[k] == 'PayDate' || tblhead1[k] == 'ClosedDate' || tblhead1[k] == 'CAapprovedOn' || tblhead1[k] == 'CMapprovedOn' || tblhead1[k] == 'CFOapprovedOn') {
                                    debugger
                                    tr.find(".Abcd")[k].children[0].textContent = RdotdatefrmtRes1(arr.data[i][tblhead1[k]]);
                                } else {
                                    tr.find(".Abcd")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                }
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".Abcd").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RedDotAlert_Error("No Record Found");
                    }
                }, complete: function () {
                    $(".loader1").hide();
                }, error: function () {
                    $(".loader1").hide();
                }
            });
        });
        $("#btnAdd").on("click", function () {
            $.post("/ADDRDDPV", { PVId: -1 }, function (response) {
                debugger
                $("#idCard").html(response);
                RedDot_Button_New_HideShow();
            })
        })
        $("#btnCancel").on("click", function () {
            RedDot_Button_Init_HideShow();
            $("#idCard").html("");
        })

        $("#Ibody").on('click', "#Ist", function (event) {
            var PVId = $(this).closest("Ist").prevObject.find(".Abcd").eq(0).text();
            $.post("/ADDRDDPV", { PVId: PVId }, function (response) {
                debugger
                $("#idCard").html(response);
                RedDot_Button_New_HideShow();
            })
        });

        $("#btnSave").on("click", function () {
            debugger
            var RDDPV = {
                PVId: $("#PVId").val(),
                Country: $("#Country").val(),
                RefNo: $("#RefNo").val(),
                DocStatus: $("#DocStatus").val(),
                VType: $("#VType").val(),
                DBName: $("#DBName").val(),
                Currency: $("#Currency").val(),
                VendorCode: $("#VendorCode[type='text']").val(),
                VendorEmployee: $("#VendorEmployee[type='text']").val(),
                Benificiary: $("#Benificiary[type='text']").val(),
                RequestedAmt: $("#RequestedAmt[type='number']").val(),
                ApprovedAmt: $("#ApprovedAmt[type='number']").val(),
                BeingPayOf: $("#BeingPayOf[type='text']").val(),
                PayRequestDate: $("#PayRequestDate1").val(),
                BankCode: $("#BankCode[type='text']").val(),
                BankName: $("#BankName[type='text']").val(),
                PayMethod: $("#PayMethod").val(),
                PayRefNo: $("#PayRefNo[type='text']").val(),
                PayDate: $("#PayDate1").val(),
                FilePath: $("#FilePath").val(),
                ClosedDate: $("#ClosedDate1").val(),
                CAappStatus: $("#CAappStatus[type='text']").val(),
                CAappRemarks: $("#CAappRemarks[type='text']").val(),
                CAapprovedBy: $("#CAapprovedBy[type='text']").val(),
                CAapprovedOn: $("#CAapprovedOn1").val(),
                CMappStatus: $("#CMappStatus[type='text']").val(),
                CMappRemarks: $("#CMappRemarks[type='text']").val(),
                CMapprovedBy: $("#CMapprovedBy[type='text']").val(),
                CMapprovedOn: $("#CMapprovedOn1").val(),
                CFOappStatus: $("#CFOappStatus[type='text']").val(),
                CFOappRemarks: $("#CFOappRemarks[type='text']").val(),
                CFOapprovedBy: $("#CFOapprovedBy[type='text']").val(),
                CFOapprovedOn: $("#CFOapprovedOn1").val(),
                EditFlag: $("#EditFlag").val(),
                RDD_PVLinesDetails: [],

            };
            $(".PVLines").each(function () {
                var Date = $(this).find("[name^='Date']").val();
                var Description = $(this).find("[name^='Description']").val();
                var Amount = $(this).find("[name^='Amount']").val();
                var Remarks = $(this).find("[name^='Remarks']").val();
                var FilePath = $(this).find("[name^='hdnFilePathInput']").val();
                var LineRefNo = $(this).find("[name^='LineRefNo']").val();
                if (Description != '' && parseInt(Amount) != 0 && Remarks != '') {
                    var RDD_PVLines = {
                        Date: Date,
                        Description: Description,
                        Amount: Amount,
                        Remarks: Remarks,
                        FilePath: FilePath,
                        LineRefNo: LineRefNo
                    };
                    RDDPV.RDD_PVLinesDetails.push(RDD_PVLines);
                }

            });

            var ValidateFormCheck = ValidateForm(RDDPV);
            if (ValidateFormCheck.formValid == false) {
                RedDotAlert_Error(ValidateFormCheck.ErrorMessage);
                return;
            }
            $.post("/SAVERDDPV", { RDDPV: RDDPV }, function (response) {
                debugger
                if (response[0].Outtf == true) {
                    RedDotAlert_Success(response[0].Responsemsg);
                    RedDot_Button_Init_HideShow();
                    Getdata();
                    $("#idCard").html("");
                } else {
                    RedDotAlert_Error(response[0].Responsemsg);
                }

            })


        })

        function ValidateForm(RDD_PV) {
            var response = {
                ErrorMessage: "",
                formValid: false
            };
            if (RDD_PV.EditFlag == "False") {
                if (RDD_PV.Country == "0" || RDD_PV.Country == "-1") {
                    response.ErrorMessage += "Country code,";
                }
            } else if (RDD_PV.EditFlag == "True") {
                if (RDD_PV.Country == "0" || RDD_PV.Country == "-1") {
                    response.ErrorMessage += "Country code,";
                }
            }

            if (RDD_PV.RDD_PVLinesDetails.length == 0) {
                response.ErrorMessage += "Plase Enter Details Data";
            }


            if (response.ErrorMessage.length == 0) {
                response.formValid = true;
            }
            else {
                response.ErrorMessage = "Enter Mandatory Fields " + response.ErrorMessage + "."
            }

            return response;
        }

       
        $("#CityName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/GETCity",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        debugger
                        response($.map(data, function (item) {
                            return { label: item.CityName, value: item.CityName };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });  
    })
</script>


<style>
    .Abc {
        display: none !important;
    }
</style>