
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<h2>Index</h2>

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <div class="col-md-9 padd-0">
                    <h4 class="page-title">Marketing Plan</h4>
                </div>
            </div>


            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">


                            <div class="row" id="divyr">

                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Source Of Fund:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Vender BU:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Country:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row"  id="divyr">

                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Approved Amount:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Balanced For Approved:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Ref No:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>

                            </div>

                            <div class="row"  id="divyr">

                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">RDD Approved Amount:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Bal amt. from Approved:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Plan Status:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row"  id="divyr">

                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Description:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Start Date:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">End Date:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row"  id="divyr">

                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Approval Status:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Approver Remark:</label></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-xl-1 col-md-1">

                                    <div class="form-group"><label for="email2" class=" mar-t4">Create Date:</label></div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="ddlyr">
                                        <option value="0">-- Select --</option>
                                    </select>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>