@helper GetWidgetUserview(List<RDDStaffPortal.DAL.DataModels.RDD_DashBoard_Main> Dashview)
{
                                  <div class="row rowmin">
                                      @foreach (var i in Dashview)
                                      {

                                      <div class="col-md-6 mar-b10" >
                                          <div class="panel">
                                              <div class="row">
                                                  <div class="col-sm-10 col-md-10 padd-0">
                                                      <div class="widget-icon"> <i class="fas fa-table"></i> </div>
                                                      <div class="widget-content">
                                                          <span class="widget-name">
                                                              @i.DashName -- @i.TypeOfChart
                                                              <input type="hidden" id="Inphdn" value="@i.DashId">
                                                          </span>

                                                      </div>
                                                  </div>
                                                  <div class="col-sm-1 col-md-1 text-right">
                                                      <div class="editable">
                                                          <div class="switchbox">
                                                              <label class="switch">
                                                                  @if (i.IsActive == 0)
                                                                  {
                                                                  <input id="ChkDash" type="checkbox" checked>
                                                                  }
                                                                  else
                                                                  {
                                                                  <input id="ChkDash" type="checkbox">
                                                                  } <div></div>
                                                              </label>
                                                          </div>

                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      

                                      }

                                  </div>}