@helper GetWidgetview(List<RDDStaffPortal.DAL.DataModels.RDD_DashBoard_Main> Dashview)
{
    <div>
   @foreach (var i in Dashview)
    {
        <div class="card-header odd dash" id="heading-@i.DashId">

            <div class="row">
                <div class="col-md-10 padd-0">
                    <a role="button" data-toggle="collapse" href="#collapse-@i.DashId" aria-expanded="false" aria-controls="collapse-@i.DashId">
                        @i.DashName -- @i.TypeOfChart
                        <input type="hidden" id="Inphdn" value="@i.DashId">
                    </a>
                </div>
                <div class="col-md-2 padd-0	">
                    <select class="form-control form-control-sm" id="smallSelect-@i.DashId">
                        <option value="N">No Authorization</option>
                        <option value="F">Full Authorization</option>
                        
                    </select>
                </div>
            </div>

        </div>

   }
            
        </div>}