<?xml version="1.0"?><configuration><configSections><sectionGroup name="businessObjects"><sectionGroup name="crystalReports"><section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/></sectionGroup></sectionGroup></configSections>
	<!--India Server connections  Open Below and Comment above ....... begins -->
	 <!--<appSettings>
	  <add key="OB1" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;"/>
	  <add key="EVO" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=triangle; Persist Security Info=True;"/>
	  <add key="EVOTej" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=Tej; Persist Security Info=True;"/>
	  
      <add key="EVOKE" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;"/>
	  <add key="EVOEPZ" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=RED DOT DISTRIBUTION EPZ LTD; Persist Security Info=True;"/>
	  <add key="EVOUG" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=UgandaKE; Persist Security Info=True;"/>
	  <add key="EVOTZ" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=RedDotTanzania; Persist Security Info=True;"/>
	  <add key="EVOJA" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=triangle; Persist Security Info=True;"/>
	  <add key="EVOKEModify" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;"/>
	  <add key="EVOTZModify" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=triangle; Persist Security Info=True;"/>
	  <add key="EVOCC" value="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; Initial Catalog=ComputerCentreTanzania; Persist Security Info=True;"/>

    <add key="tejSap" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=tejSap; Persist Security Info=True;"/>
	<add key="SAPUG" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=sapUG; Persist Security Info=True;"/>
    <add key="SAPKE" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=sapKE; Persist Security Info=True;"/>
    <add key="SAPEPZ" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=sapEPZ; Persist Security Info=True;"/>
    <add key="SAPTZ" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=sapTZ; Persist Security Info=True;"/>
    <add key="SAPAE" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=sapAE; Persist Security Info=True;"/>
    <add key="SAPReportDB" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=SAPReport; Persist Security Info=True;"/>
    <add key="SAPSRVCrystalLogCreds" value="RDDPR0G01;sa;sapb1_admin;tejSap"/>
	<add key="SAPCompanyConnectCredsAE" value="RDDPR0G01;sa;sapb1_admin;sapAE;manager;grace12!@;fresh:30000"/>
    <add key="SAPCompanyConnectCredsUG" value="RDDPR0G01;sa;sapb1_admin;sapUG;manager;grace12!@;fresh:30000"/>
	<add key="SAPCompanyConnectCredsKE" value="RDDPR0G01;sa;sapb1_admin;sapKE;manager;grace12!@;fresh:30000"/>
	<add key="SAPCompanyConnectCredsTZ" value="RDDPR0G01;sa;sapb1_admin;sapTZ;manager;reddot123;fresh:30000"/>
	<add key="SAPCompanyConnectCredsTLY" value="RDDPR0G01;sa;sapb1_admin;sapTLY;manager;reddot123;fresh:30000"/>
		 <add key="SAPCompanyConnectCredsSAPAE-TEST" value="RDDPR0G01;sa;sapb1_admin;sapAE-TEST;manager;grace12!@;fresh:30000"/>
		 <add key="SAPCompanyConnectCredsSAPUG-TEST" value="RDDPR0G01;sa;sapb1_admin;sapUG-TEST;manager;grace12!@;fresh:30000"/>
		 <add key="SAPCompanyConnectCredsSAPKE-TEST" value="RDDPR0G01;sa;sapb1_admin;sapKE-TEST;manager;grace12!@;fresh:30000"/>
		 <add key="SAPCompanyConnectCredsSAPTZ-TEST" value="RDDPR0G01;sa;sapb1_admin;sapTZ-TEST;manager;reddot123;fresh:30000"/>
		 <add key="SAPCompanyConnectCredsTLY-TEST" value="RDDPR0G01;sa;sapb1_admin;sapTLY-TEST;manager;reddot123;fresh:30000"/>
		 
    <add key="IPnPort" value="https://192.168.56.25:98" />
		 <add key="UGFrom" value="SAP"/>
		 <add key="TRIFrom" value="SAP"/>
		 <add key="EPZFrom" value="SAP"/>
		 <add key="TZFrom" value="SAP"/>
		 <add key="KEFrom" value="SAP"/>
		 <add key="allowClosePortalOrders" value="vishav"/>
		 <add key="FunnelDeletedMailIntimationTo" value="vishav@eternatec.com"/>
		 <add key="SendFunnelDeletedMailIntimationOrNot" value="YES"/>
		 <add key="TallyInvoiceExportSourceDbList" value="SAPTZ"/>
		 <add key="TallyInvoiceExportDestinationDbList" value="SAPTLY;SAPTLY-TEST"/>
		 
    <add key="currentMembershipDB" value="RDD_MembershipDB"/>
    <add key="MarketingCCIntimationMailId" value="vishav@eternatec.com"/>
    <add key="uploadReportsIntimationMailId" value="vishav@eternatec.com"/>
    <add key="orderBookedIntimationMailIdTZ" value="victor@eternatec.com"/>
    <add key="orderBookedIntimationMailIdKE" value="kuldip@eternatec.com"/>
	<add key="orderStatusCCAtAllLevelsTo" value="kuldip@eternatec.com"/>
    <add key="avoidUserRolesFromListofRolesMKT" value="cfcUser1;COUNTRYFINANCE;HEADOFFINANCE"/>
    <add key="uploadReportsFolderPath" value="D:\webReports\ReportUploadsFromSites\"/>
	  <add key="CrystalImageCleaner-AutoStart" value="true"/>
	  <add key="CrystalImageCleaner-Sleep" value="60000"/>
	  <add key="CrystalImageCleaner-Age" value="120000"/>
	  <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;timeout=20;"/>
	 </appSettings>
	 <connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=RDD_MembershipDB; Integrated Security=false" providerName="System.Data.SqlClient"/>
		<add name="connstrWebsiteDB" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; initial catalog=websiteDBNew;" providerName="System.Data.SqlClient;"/>
		<add name="connstrIntranetDB" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; initial catalog=RDD_WorkFlowDB2013Live;" providerName="System.Data.SqlClient;"/>
		<add name="connstrRDDMarketingDB" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; initial catalog=RDD_WorkFlowDB2013Live;" providerName="System.Data.SqlClient;"/>
		<add name="WMSDXBStockDB" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; initial catalog=DXBStockDB;" providerName="System.Data.SqlClient;"/>
		<add name="MarketingMailsDB" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=marketingMailNew; Integrated Security=false" providerName="System.Data.SqlClient"/>
    
		 <add name="connstrTanzania" connectionString="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; initial catalog=RedDotTanzania;" providerName="System.Data.SqlClient;"/>
		<add name="connstrTriangle" connectionString="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; initial catalog=triangle;" providerName="System.Data.SqlClient;"/>
		<add name="connstrKE" connectionString="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#;dd initial catalog=[Red Dot Distribution Limited - Kenya];" providerName="System.Data.SqlClient;"/>
		<add name="connstrEPZ" connectionString="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; initial catalog=[RED DOT DISTRIBUTION EPZ LTD];" providerName="System.Data.SqlClient;"/>
		<add name="connstrUG" connectionString="data source=192.168.1.4; User ID=sa; Password=Qwert123!@#; initial catalog=[UgandaKE];" providerName="System.Data.SqlClient;"/>
	 </connectionStrings>-->
	<!--India Server connections  Open Below and Comment above ......ends -->
	
	<!--Live Server connections  Open Below and Comment above  ....... begins  -->
	  <appSettings>
		<add key="OB1" value="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;"/>
		<add key="EVO" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=Triangle; Persist Security Info=True;"/>
		<add key="EVOTej" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=Tej; Persist Security Info=True;"/>
		<add key="EVOKE" value="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;"/>
		<add key="EVOUG" value="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; Initial Catalog=UgandaKE; Persist Security Info=True;"/>
		<add key="EVOEPZ" value="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; Initial Catalog=RED DOT DISTRIBUTION EPZ LTD; Persist Security Info=True;"/>
		<add key="EVOTZ" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=RedDotTanzania; Persist Security Info=True;"/>
		<add key="EVOJA" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=triangle; Persist Security Info=True;"/>
		 <add key="EVOKEModify" value="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; Initial Catalog=Red Dot Distribution Limited - Kenya; Persist Security Info=True;" />
		 <add key="EVOTZModify" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=triangle; Persist Security Info=True;" />
		 <add key="EVOCC" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=ComputerCentreTanzania; Persist Security Info=True;" />
     
	  <add key="TejSap" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=tejSap; Persist Security Info=True;"/>
	  <add key="SAPUG" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapUG; Persist Security Info=True;"/>
    <add key="SAPKE" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapKE; Persist Security Info=True;"/>
    <add key="SAPEPZ" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapEPZ; Persist Security Info=True;"/>
    <add key="SAPTZ" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapTZ; Persist Security Info=True;"/>
    <add key="SAPAE" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapAE; Persist Security Info=True;"/>
    <add key="SAPML" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapML; Persist Security Info=True;"/>
    <add key="SAPZM" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=sapZM; Persist Security Info=True;"/>
      
    <add key="SAPReportDB" value="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; Initial Catalog=SAPReport; Persist Security Info=True;"/>
    <add key="SAPSRVCrystalLogCreds" value="192.168.56.55;dashboard;p455w0rd;tejSap"/>
    <add key="SAPCompanyConnectCredsSAPAE" value="192.168.56.55;dashboard;p455w0rd;SAPAE;apps;p455w0rd;192.168.56.55:30000"/>
	  <add key="SAPCompanyConnectCredsAE" value="192.168.56.55;dashboard;p455w0rd;SAPAE;apps;p455w0rd;192.168.56.55:30000"/>
    <add key="SAPCompanyConnectCredsUG" value="192.168.56.55;dashboard;p455w0rd;SAPUG;apps;p455w0rd;192.168.56.55:30000"/>
	  <add key="SAPCompanyConnectCredsKE" value="192.168.56.55;dashboard;p455w0rd;SAPKE;apps;p455w0rd;192.168.56.55:30000"/>
	  <add key="SAPCompanyConnectCredsTZ" value="192.168.56.55;dashboard;p455w0rd;SAPTZ;apps;p455w0rd;192.168.56.55:30000"/>
	  <add key="SAPCompanyConnectCredsTLY" value="192.168.56.55;dashboard;p455w0rd;SAPTLY;apps;p455w0rd;192.168.56.55:30000"/>
	  <add key="SAPCompanyConnectCredsZM" value="192.168.56.55;dashboard;p455w0rd;SAPZM;apps;p455w0rd;192.168.56.55:30000"/>
	  
    <add key="SAPCompanyConnectCredsSAPAE-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPAE-TEST;apps;p455w0rd;192.168.56.55:30000"/>
		<add key="SAPCompanyConnectCredsSAPUG-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPUG-TEST;apps;p455w0rd;192.168.56.55:30000"/>
		<add key="SAPCompanyConnectCredsSAPKE-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPKE-TEST;apps;p455w0rd;192.168.56.55:30000"/>
		<add key="SAPCompanyConnectCredsSAPTZ-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPTZ-TEST;apps;p455w0rd;192.168.56.55:30000"/>
		<add key="SAPCompanyConnectCredsTLY-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPTLY-TEST;apps;p455w0rd;192.168.56.55:30000"/>
		<add key="SAPCompanyConnectCredsZM-TEST" value="192.168.56.55;dashboard;p455w0rd;SAPZM-TEST;apps;p455w0rd;192.168.56.55:30000"/>
	 
     <add key="IPnPort" value="https://app.reddotdistribution.com" />
		 <add key="UGFrom" value="SAP"/>
		 <add key="TRIFrom" value="SAP"/>
		 <add key="EPZFrom" value="SAP"/>
		 <add key="TZFrom" value="SAP"/>
		 <add key="KEFrom" value="SAP"/>
      <add key="MAFrom" value="SAP"/>
      <add key="ZAFrom" value="SAP"/>
		 <add key="allowClosePortalOrders" value="khadijah;mohammed;hassan;pramod"/>
		 <add key="FunnelDeletedMailIntimationTo" value="asif@reddotdistribution.com"/>
		 <add key="SendFunnelDeletedMailIntimationOrNot" value="YES"/>
		 <add key="TallyInvoiceExportSourceDbList" value="SAPTZ"/>
		 <add key="TallyInvoiceExportDestinationDbList" value="SAPTLY;SAPTLY-TEST"/>
		 <add key="ForecastSuperuser" value="pramod;asif;nishad;Imranm;HUSSEINB"/>
		 <add key="CCTVAuthUsers" value="munir;jaffer;pramod"/>
      <add key="PVSendMailToSignatories" value="pramod;sabbaha;alfarid"/>
		 
		<add key="currentMembershipDB" value="RDD_MembershipDB" />
		<add key="MarketingCCIntimationMailId" value="" />
		<add key="uploadReportsIntimationMailId" value="asif@reddotdistribution.com" />
		<add key="orderBookedIntimationMailIdTZ" value="Mohammed@reddotdistirbution.com" />
		<add key="orderBookedIntimationMailIdKE" value="Maxwell@reddotdistribution.com;jane@reddotdistribution.com" />
		<add key="orderBookedIntimationMailIdET" value="Nishad@reddotdistribution.com"/>
		<add key="orderBookedIntimationMailIdUG" value="Jimmiraj@reddotdistribution.com"/>
		<add key="orderStatusCCAtAllLevelsTo" value="central.logistics@reddotdistribution.com"/>
		<add key="avoidUserRolesFromListofRolesMKT" value="Alfarid;COUNTRYFINANCE;HEADOFFINANCE" />
		<add key="uploadReportsFolderPath" value="C:\inetpub\oursitesResidesHere\webReports\ReportUploadsFromSites\" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
		<add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;timeout=20;"/>
	  </appSettings>

	  <connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; Initial Catalog=RDD_MembershipDB; Integrated Security=false" providerName="System.Data.SqlClient"/>
		<add name="connstrWebsiteDB" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; initial catalog=websiteDBNew;" providerName="System.Data.SqlClient;"/>
		<add name="connstrIntranetDB" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; initial catalog=RDD_WorkFlowDB2013Live;" providerName="System.Data.SqlClient;"/>
		<add name="connstrRDDMarketingDB" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; initial catalog=RDD_WorkFlowDB2013Live;" providerName="System.Data.SqlClient;"/>
		<add name="WMSDXBStockDB" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; initial catalog=DXBStockDB;" providerName="System.Data.SqlClient;"/>
		<add name="MarketingMailsDB" connectionString="data source=192.168.56.25; User ID=sa; Password=n3Wp455W0rD; Initial Catalog=marketingMailNew; Integrated Security=false" providerName="System.Data.SqlClient"/>
    
		<add name="connstrTanzania" connectionString="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; initial catalog=RedDotTanzania;" providerName="System.Data.SqlClient;"/>
		<add name="connstrTriangle" connectionString="data source=192.168.56.55; User ID=dashboard; Password=p455w0rd; initial catalog=Triangle;" providerName="System.Data.SqlClient;"/>
		<add name="connstrKE" connectionString="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; initial catalog=[Red Dot Distribution Limited - Kenya];" providerName="System.Data.SqlClient;"/>
		<add name="connstrEPZ" connectionString="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; initial catalog=[RED DOT DISTRIBUTION EPZ LTD];" providerName="System.Data.SqlClient;"/>
		<add name="connstrUG" connectionString="data source=192.168.56.52; User ID=dashboard; Password=p455w0rd; initial catalog=[UgandaKE];" providerName="System.Data.SqlClient;"/>
	  </connectionStrings>
	<!--Live  Server connections  Open Below and Comment above ....... ends -->

	<system.web>
	<httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <httpRuntime executionTimeout="240" maxRequestLength="20480"/>
		<xhtmlConformance mode="Transitional"/>
		
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="auto" culture="auto"/>
		<trace enabled="false" localOnly="false" pageOutput="true"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="ADODB, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/> -->
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
			<codeSubDirectories>
				<add directoryName="csCode"/>
				<add directoryName="vbCode"/>
			</codeSubDirectories>
		<!--<buildProviders><add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></buildProviders>--></compilation>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" timeout="120" protection="All" requireSSL="false" slidingExpiration="true" cookieless="AutoDetect" domain="" enableCrossAppRedirects="false">
				<credentials passwordFormat="SHA1"/>
			</forms>
		</authentication>
		<membership userIsOnlineTimeWindow="15">
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/RedDotIntranet" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<roleManager enabled="true" cookieTimeout="30000" defaultProvider="AspNetSqlRoleProvider">
			<providers>
				<remove name="AspNetSqlRoleProvider"/>
				<add connectionStringName="LocalSqlServer" applicationName="/RedDotIntranet" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<profile enabled="true" defaultProvider="AspNetSqlProfileProvider">
			<providers>
				<remove name="AspNetSqlProfileProvider"/>
				<add name="AspNetSqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="/RedDotIntranet" type="System.Web.Profile.SqlProfileProvider"/>
			</providers>
		</profile>
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
   </controls>
  </pages>
		<httpHandlers>
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
	</system.web>
	
	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Intranet">
		<system.web>
			<authorization>
				<!--<allow roles="Reddot, GlobalLogistics,CountryLogistics"/>-->
				<allow roles="productSpecialist,countryManager,productManager,caCheck,headOfFinance,headOfproductManager,productManagerCordinator,webReportsAdmin,webReports,sales,Reddot, GlobalLogistics,CountryLogistics, globalFinance, countryFinance,countryFinanceController, productManagement,sellOutReporting,creditLimitUpdate,TallyInvoiceExporter,marketingAdmin,marketingExecutive,evoEntry"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Intranet/webReporting">
		<system.web>
			<authorization>
				<allow roles="webReports"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Intranet/subAdmin">
		<system.web>
			<authorization>
				<allow roles="webReportsAdmin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Intranet/WMS">
		<system.web>
			<authorization>
				<allow roles="wms"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

 <location path="IntranetNew/Admin">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IntranetNew/MarketingPlan">
    <system.web>
      <authorization>
        <allow roles="admin,webReports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="IntranetNew/BPStatus">
    <system.web>
      <authorization>
        <allow roles="admin,webReports"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


	<system.net>
		<mailSettings>
		<smtp from="website@reddotdistribution.com">
         <network host="mail.cctz.co.tz" password="compaq" userName="website@reddotdistribution.com" port="587" />
        </smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
  <handlers>
   <remove name="ChartImageHandler"/>
   <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </handlers>
  <validation validateIntegratedModeConfiguration="false"/>

     <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
	  <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

 </system.webServer>
<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects></configuration>