@model RDDStaffPortal.Areas.Admin.Models.JobBand

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add Job Band</h4>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row addwidgetclass mar-b10">
                                <div class="col-md-12 padd-0">

                                    <div class="form-group">
                                        <label for="email2" class="width100px">Job Band :</label>
                                        <input type="hidden" id="JobBandId" />
                                        <input type="text" class="form-control width300px" id="JobBandName" placeholder="Enter Job Band ">

                                    </div>




                                    <div class="form-group">
                                        <label for="email2" class="width100px">Status</label>
                                        <div><input type="checkbox" id="chkIsDefaultMenu" checked data-toggle="toggle" data-onstyle="primary"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email2" class="width100px"></label>
                                        <div class="mar-t7"><button type="button" data-target="#myModal" class="btn btn-success submitbtn add-new" id="SaveJobBandChanges">Submit</button></div>

                                    </div>


                                    @*<div class="form-group" style="width:610px;"></div>*@



                                    <div class="form-group">
                                        <label for="search" class="width100px">Search</label>
                                        <input type="text" class="form-control width180px" id="txtSearchJobBand" placeholder="Search for names..">
                                    </div>

                                </div>

                            </div>


                            <div class="row">
                                <table class="table table-bordered" id="tblItem">
                                    <thead>
                                        <tr>
                                            <th class="width20px">Sr.No</th>
                                            <th class="width100px">Job Band</th>

                                            <th class="width80px">Status</th>
                                            <th class="width100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="setJobBandList">
                                    </tbody>
                                </table>
                            </div>


                        </div>

                    </div>

                </div>



            </div>



        </div>
    </div>

</div>


<!--   Core JS Files   -->
@*Create pop up for delete confirmation*@
@*<div class="modal fade" id="ItemDeleteConfirmation">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete JobBand</h4>
            </div>
            <div class="modal-body">
                <h4> Are you sure you want to delete this record ? </h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal"> Cancel</a>
                <a href="#" class="btn btn-primary" onclick="ConfirmDelete()"> Confirm</a>
            </div>
        </div>
    </div>
</div>*@
<span class="input-group-text" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></span>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Job Band</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="email2" class="width100px">Job Band :</label>
                    <input type="text" class="form-control" id="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">



    // This is the code to filte r/search record


    $("#txtSearchJobBand").on("keyup", function () {
        var value = $(this).val().toLowerCase();

        $("#setJobBandList tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    $(document).ready(function () {



        // To bind Modules on PageLoad

       GetJobBandList();

    });


    function GetJobBandList() {
        debugger
        $('#setJobBandList').html('');

        $.get("/JobBand/GetJobBandList", null, DataBind);
        function DataBind(JobBandNameList) {
            var SetData = $('#setJobBandList');
            for (var i = 0; i < JobBandNameList.length; i++) {
                var Data = "<tr class='row_ >" + JobBandNameList[i].JobBandId + "'>" +
                    "<td>" + JobBandNameList[i].JobBandId + "</td>" +
                    "<td  >" + JobBandNameList[i].JobBandName + "</td>"



                if (JobBandNameList[i].IsActive == true) {
                    Data = Data + "<td> <div> <input type='checkbox' id='chkIsDefault' checked data-toggle='toggle' data-onstyle='primary' disabled></div></td>  ";
                }
                else {
                    Data = Data + "<td> <div> <input id='chkIsDefault' type='checkbox' data-toggle='toggle' data-onstyle='primary' disabled ></div></td>  ";
                }

                Data = Data + "<td> <button type='button' title='Edit' data-toggle='tooltip' class='btn btn-info edit'><i class='fas fa-edit'></i></button> " +
                    "<button type='button' title='Delete' data-toggle='tooltip' class='btn btn-danger delete' id='btn_DeleteDetails'><i class='fas fa-trash-alt'></i></button></td ></tr >";



                "</tr>";

                SetData.append(Data);

                //$('#LoadingStatus').html("Loading....");
            }

        }
    }


    $('#setJobBandList').on('click', '#btn_DeleteDetails', function () {
        var JobBandId = $(this).closest("tr").find('td:eq(0)').text();
        var tr = $(this).closest("tr");
        {

            const swalWithBootstrapButtons = Swal.mixin({
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
            })
            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    $.getJSON("/JobBand/DeleteItem", { JobBandId: JobBandId }).done(function (data) {
                        debugger
                        if (data.DeleteFlag == "Deleted Sucessfully.") {

                            tr.remove();

                        }
                        else {

                            // return
                        }

                    });
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'Your Record  has been deleted.',
                        'success'

                    )
                }
                else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your Record  is safe :)',
                        'error'
                    )
                }
                $("#JobBandId").val('');
                $("#JobBandName").val('');
                GetJobBandList();
            })
        }

    });

    //$('#setJobBandList').on('click', '#btn_DeleteDetails', function () {
    //    var x = confirm("Are you sure you want to delete?");
    //    if (x) {
    //        debugger
    //        var JobBandId = $(this).closest("tr").find('td:eq(0)').text();
    //        // alert(DeptID);
    //        //var DeptId = $("#DeptId").val();
    //        $.ajax({
    //            type: "Post",
    //            url: "/JobBand/DeleteItem?JobBandId=" + JobBandId,
    //            success: function (result) {
    //                if (result == "JobBand Deleted Sucessfully.") {
    //                    RdotAlertSucesstxt(result);
    //                    //alert(result);
    //                    GetJobBandList();

    //                }
    //                else {

    //                    alert(result);
    //                }
    //            }

    //        });
    //    }
    //});




    //function ConfirmDelete() {
    //    //var DeptIdd = $(this).closest("tr").find('td:eq(0)').text();
    //    //alert(DeptIdd);
    //    debugger
    //    var JobBandIdd = $("#JobBandId").val();
    //    $.ajax({
    //        type: "Post",
    //        url: "/JobBand/DeleteItem?JobBandId=" + JobBandIdd,
    //        success: function (result) {
    //            if (result == "Record Deleted successfully") {
    //                RdotAlertSucesstxt(result);
    //                // $("#ItemDeleteConfirmation").modal("hide");
    //                //alert(result);

    //            }
    //            else {
    //                $("#ItemDeleteConfirmation").modal("hide");
    //                //   alert(result);
    //            }
    //        }
    //    });
    //}



    $('#SaveJobBandChanges').click(function () {
        debugger
        if ($("#JobBrandName").val() == "") {
            alert('please enter BandName');
            $("#JobBrandName").focus();
            return false;
        }
        //var data = $("#SubmitForm").serialize();
        //var status = $('#chkstatus').is(':checked');


        var JobBandData = {};
        JobBandData["JobBandId"] = $("#JobBandId").val();
        JobBandData["JobBandName"] = $("#JobBandName").val();

        JobBandData["IsActive"] = $("#chkIsDefaultMenu").is(":checked");// $("#chkIsDefaultMenu").val();
        var data = JSON.stringify({
            dataJobBand: JobBandData,
        });

       // console.log(data);

        $.ajax({
            type: "Post",
            url: "/JobBand/AddJobBand",
            data: data,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {

                if (result == "JobBand saved successfully." || result == "JobBand updated successfully.") {
                    RedDotAlert_Success(result);
                    GetJobBandList();
                    $("#JobBandId").val('');
                    $("#JobBandName").val('');
                    //alert(result);
                  //  location.reload();
                   // $("#DeptName").val('');

                    
                }
                else {
                    result == "JobBand already exists.."
                    RedDotAlert_Error(result);
                   // alert(result);
                    $("#JobBandId").val('');
                    $("#JobBandName").val('');
                }
            }
        });
    });


    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("table td:last-child").html();

        // Edit row on edit button click
        $(document).on("click", ".edit", function () {
            debugger;

            $('#JobBandId').val($(this).closest('tr').find('td').eq(0).text());
            $('#JobBandName').val($(this).closest('tr').find('td').eq(1).text());


            //var IsDefault = $(this).closest('tr').find('input[type="checkbox"]').val();
            //if (IsDefault == "on")
            //    $('#chkIsDefaultMenu').prop("checked", true);
            //else
            //    $('#chkIsDefaultMenu').prop("checked", false);

        });

        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            //$(this).parents("tr").remove();///To FRemove Direct Delete from Row
            $(".add-new").removeAttr("disabled");
        });
    });






</script>


