@model RDDStaffPortal.DAL.DataModels.RDD_BackLog_Sheet

@{
    ViewBag.Title = "BackLogSheet";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Back Log Sheet Report</h4>
            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm mar-b10" id="FilterBtn">  Search <span class="btn-label"> </span> <i class="fas fa-angle-down"></i></button>
                </div>
            </div>
            <div class="rowmin" id="FilterSection" style="display:none">

                <div class="col-md-12">
                    <div class="card success-border full-height padd-10">
                        <div class="row">

                            <div class="col-xl-3 col-md-3" id="mapped_BU1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Mapped BU :</label>
                                    @Html.DropDownListFor(m => m.mapped_BU, ViewBag.mapped_BUList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3" id="BUGroup1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">BU Group :</label>
                                    @Html.DropDownListFor(m => m.BUGroup, ViewBag.BUGroupList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3" id="mapped_Project1">
                                <div class="form-group">
                                    <label for="email2" class="width100px">Mapped Project :</label>
                                    @Html.DropDownListFor(m => m.mapped_Project, ViewBag.mapped_ProjectList as SelectList, "-Select-", new { @class = "form-control form-control-sm" })
                                </div>


                            </div>
                            <div class="row">


                                <div class="col-xl-1 col-md-1 ml-auto">
                                    <div class="form-group">
                                        <label for="email2" class="width100px"></label>
                                        <button class="btn btn-success btn-sm" id="btnApply">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card full-height">
                        <div class="card-body">
                            <div class="rowmin row mar-b10">


                                <div class="col-xl-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Search" class="form-control form-control-sm" id="Search-Forms-QuickLinks">
                                    </div>
                                </div>


                                <div class="col-xl-2 col-md-2 ml-auto text-right">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Hide Column"><i href="#" data-toggle="modal" data-target="#SelectWidgetspopup" class="fas fa-minus-circle"></i></button>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Export to Excel"><a href="/Reports/Reports/DownloadToExcel3" class="fas fa-file-excel"></a></button>


                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="reddotTable sm-form mar-t0">
                                    <div class="loader1"></div>
                                    <div id="Ind" class="reddotTableBody">
                                        <div class="reddotTableRow odd-even-row">


                                            <div class="reddotTableHead"  id="db"><div>DB</div></div>
                                            <div class="reddotTableHead" id="ProjectCode"><div>ProjectCode</div></div>
                                            <div class="reddotTableHead" id="mapped_Project"><div>mapped_Project</div></div>
                                            <div class="reddotTableHead" id="ItemGroup"><div>ItemGroup</div></div>
                                            <div class="reddotTableHead" id="mapped_BU"><div>mapped_BU</div></div>
                                            <div class="reddotTableHead" id="BUGroup"><div>BUGroup</div></div>
                                            <div class="reddotTableHead" id="OrderNum"><div>OrderNum</div></div>
                                            <div class="reddotTableHead" id="Code"><div>Code (Part No)</div></div>
                                            <div class="reddotTableHead" id="UnitPriceExcl"><div>UnitPriceExcl</div></div>
                                            <div class="reddotTableHead" id="OrderQty"><div>OrderQty</div></div>
                                            <div class="reddotTableHead" id="LineTotalExcl"><div>LineTotalExcl</div></div>
                                            <div class="reddotTableHead" id="QtyOutStanding"><div>QtyOutStanding</div></div>
                                            <div class="reddotTableHead" id="QtyConfirmed"><div>QtyConfirmed</div></div>
                                            <div class="reddotTableHead" id="LineTotalExclConfirmed"><div>LineTotalExclConfirmed</div></div>
                                            <div class="reddotTableHead" id="OrderType"><div>OrderType</div></div>
                                            <div class="reddotTableHead" id="supplierId"><div>supplierId</div></div>
                                            <div class="reddotTableHead" id="supplierAcct"><div>supplierAcct</div></div>
                                            <div class="reddotTableHead" id="supplier"><div>supplier</div></div>
                                            <div class="reddotTableHead" id="ShipDate"><div>ShipDate</div></div>
                                            <div class="reddotTableHead" id="DeliveryDate"><div>DeliveryDate</div></div>
                                            <div class="reddotTableHead" id="ActualShipDate"><div>ActualShipDate</div></div>
                                            <div class="reddotTableHead" id="ActualDeliveryDate"><div>ActualDeliveryDate</div></div>
                                            <div class="reddotTableHead" id="ShipTo"><div>ShipTo</div></div>
                                            <div class="reddotTableHead" id="CustomerName"><div>CustomerName</div></div>
                                            <div class="reddotTableHead" id="OrderStatus"><div>OrderStatus </div></div>

                                        </div>
                                    </div>
                                    <div id="Ibody" class="reddotTableBody">
                                        <div id="Ist" class="reddotTableRow odd-even-row">

                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>
                                            <div class="reddotTableCell"><div></div></div>



                                        </div>

                                    </div>
                                </div>
                                <div class="row mar-t10">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination mar-b0">
                                            <li class="page-item prev"><a class="page-link" href="#">Previous</a></li>

                                            <li class="page-item next"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="SelectWidgetspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-70per" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Show/Hide Columns</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body selectwidget-section">
                <div class="row rowmin">
                    <div class="col-md-12 mar-b10">
                        <div class="row" id="idchk"> </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnsave" type="button" class="btn btn-success btn-sm">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var tblhead1 = ['db','ProjectCode','mapped_Project','ItemGroup','mapped_BU','BUGroup','OrderNum','Code','UnitPriceExcl','OrderQty','LineTotalExcl','QtyOutStanding','QtyConfirmed','LineTotalExclConfirmed','OrderType','supplierId','supplierAcct','supplier','ShipDate','DeliveryDate','ActualShipDate','ActualDeliveryDate','ShipTo','CustomerName','OrderStatus' ];
    var tblhide = ["ProjectCode", "ItemGroup", "BUGroup", "UnitPriceExcl", "LineTotalExcl", "QtyOutStanding", "QtyConfirmed", "LineTotalExclConfirmed", "supplierId", "supplierAcct", "ShipDate", "DeliveryDate", "ShipTo", "CustomerName"];
    $(".loader1").hide();

   
    $(document).ready(function () {
        var k1 = 0;
        while (tblhead1.length > k1) {
            if (jQuery.inArray(tblhead1[k1], tblhide) !== -1) {
                $('div#' + tblhead1[k1] + '1').addClass("Abc");
                $("#idchk").append(" <div class='col-sm-1 col-md-1 text-right'><input id='" + tblhead1[k1]+"' type='checkbox' ></div><div class='col-sm-2 col-md-2'>" + tblhead1[k1] + "</div> ");
            } else {
                $('div#' + tblhead1[k1] + '1').removeClass("Abc");
                $("#idchk").append(" <div class='col-sm-1 col-md-1 text-right'><input id='" + tblhead1[k1] +"' type='checkbox' checked></div><div class='col-sm-2 col-md-2'>" + tblhead1[k1] + "</div> ");
            }
            k1++;
        }

        $('#BUGroup').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select BU Group--'
        });

        $('#mapped_Project').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select Mapped Project--'
        });
        $('#mapped_BU').select2({
            theme: "bootstrap",
            allowClear: true,
            placeholder: '--Select Mapped BU--'
        });



        $("#FilterBtn").click(function () {
            $("#FilterSection").slideToggle("slow");

        });
        var value1 = $("#Search-Forms-QuickLinks").val().toLowerCase();
        var arr = [];
        var curPage = 1;
        $.ajax({
            type: "POST",
            url: "/Reports/Reports/BackLogSheetReport",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                pagesize: 50,
                pageno: curPage,
                psearch: value1,
                MappBU: $('#mapped_BU').val(),
                BUGroup: $("#BUGroup").val(),
                MappProj: $("#mapped_Project").val()
            }),
            success: function (data) {
                $("#Ist").show();
                arr = data;
                if (arr.data != null && arr.data.length != 0) {
                    var i = 0;
                    while (arr.data.length > i) {
                        var tr = $("#Ist").clone();
                        var tr1 = $("#Ind").closest();
                        var k = 0;
                        var l1 = tr.find(".reddotTableCell").length;
                        while (l1 > k) {
                            debugger
                            tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                            var t = tblhead1[k];
                            
                            if (jQuery.inArray(t, tblhide) !== -1) {
                                tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                            }

                            k++;
                        }
                        $("#Ibody").append(tr);
                        i++;
                    }
                    $("#Ist")[0].remove();
                } else {
                    $("#Ist").hide();
                    RdotAlerterrtxt1("No Record Found");
                }
            }
        });


        $("#btnsave").on("click", function () {
            debugger
            tblhide = [];
            $('input:checkbox').each(function () {

                var IsActiveTxt = $(this).is(":checked");
                if (IsActiveTxt == false && $(this).attr("id") != undefined) {

                    tblhide.push($(this).attr("id"));
                    $('div#' + $(this).attr("id") + '1').addClass("Abc");
                } else {
                    $('div#' + $(this).attr("id") + '1').removeClass("Abc");
                }
                $("select").val('').trigger('change');
            }
            )
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/BackLogSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    MappBU: $('#mapped_BU').val(),
                    BUGroup: $("#BUGroup").val(),
                    MappProj: $("#mapped_Project").val()
                }),
                success: function (data) {
                    $("div#Ist").not(':first').remove();
                    $("#Ist").show();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    debugger
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc");
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc");
                                } else {
                                    tr.find(".reddotTableCell").eq(k).removeClass("Abc");
                                    tr1.prevObject.find(".reddotTableHead").eq(k).removeClass("Abc");
                                }

                                k++;
                            }
                            $("#Ibody").append(tr);

                            i++;
                        }

                        $("#Ist")[0].remove();
                        $('.close').trigger("click");
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }
            });

        })

        $('.next').bind('click', function () {
            curPage++;
            if (curPage > arr.data[0].TotalCount)
                curPage = 0;
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/BackLogSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    MappBU: $('#mapped_BU').val(),
                    BUGroup: $("#BUGroup").val(),
                    MappProj: $("#mapped_Project").val()
                }),
                success: function (data) {

                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }


                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }

                }
            });
        });

        $('.prev').bind('click', function () {
            curPage--;
            if (curPage < 0)
                curPage = (arr.data[0].TotalCount - 1);
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/BackLogSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value1,
                    MappBU: $('#mapped_BU').val(),
                    BUGroup: $("#BUGroup").val(),
                    MappProj: $("#mapped_Project").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }
            });
        });

        $("#btnApply").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/BackLogSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: $("#Search-Forms-QuickLinks").val(),
                    MappBU: $('#mapped_BU').val(),
                    BUGroup: $("#BUGroup").val(),
                    MappProj: $("#mapped_Project").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }
            });
        })
        $("#Search-Forms-QuickLinks").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/Reports/Reports/BackLogSheetReport",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    pagesize: 50,
                    pageno: curPage,
                    psearch: value,
                    MappBU: $('#mapped_BU').val(),
                    BUGroup: $("#BUGroup").val(),
                    MappProj: $("#mapped_Project").val()
                }),
                success: function (data) {
                    $("#Ist").show();
                    $("div#Ist").not(':first').remove();
                    arr = data;
                    if (arr.data != null && arr.data.length != 0) {
                        var i = 0;
                        while (arr.data.length > i) {
                            var tr = $("#Ist").clone();
                            var tr1 = $("#Ind").closest();
                            var k = 0;
                            var l1 = tr.find(".reddotTableCell").length;
                            while (l1 > k) {
                                tr.find(".reddotTableCell")[k].children[0].textContent = arr.data[i][tblhead1[k]];
                                var t = tblhead1[k];
                                debugger
                                if (jQuery.inArray(t, tblhide) !== -1) {
                                    tr.find(".reddotTableCell").eq(k).addClass("Abc")
                                    tr1.prevObject.find(".reddotTableHead").eq(k).addClass("Abc")
                                }
                                k++;
                            }
                            $("#Ibody").append(tr);
                            i++;
                        }
                        $("#Ist")[0].remove();
                    } else {
                        $("#Ist").hide();
                        RdotAlerterrtxt1("No Record Found");
                    }
                }
            });
        });
        //$(".fa-file-excel").on("click", function () {
        //    debugger
        //    $.post("/DownloadExcel").done(function (response) {

        //    })
        //})
    });
</script>
<style>
    .Abc {
        display: none;
    }
</style>

