<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
   <add key="connString" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=RDD_MembershipDB; Persist Security Info=True;"/>
    <add key="tejSAP" value="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=tejSap; Persist Security Info=True;"/>
 <!--<add name="LocalSqlServer" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=RDD_MembershipDB; Integrated Security=false" providerName="System.Data.SqlClient"/>
    <add name="tejSAP" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=tejSAP; Integrated Security=false" providerName="System.Data.SqlClient"/>-->
 </appSettings>
  
<connectionStrings>
  <add name="LocalSqlServer" connectionString="data source=RDDPR0G01; User ID=sa; Password=sapb1_admin; Initial Catalog=RDD_MembershipDB; Integrated Security=false" providerName="System.Data.SqlClient"/>
</connectionStrings>

</configuration>