
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<link href="~/Scripts/dragdrop/main.css" rel="stylesheet" />

<script src="~/Scripts/RedDotUtility.js"></script>
<script src="~/Scripts/Application/UserRole.js"></script>
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Employee Roles</h4>
            </div>
            <div class="row">
                   
                </div>

            <div class="rowmin">
                <div class="col-md-12">
                  
                    <div class="card">
                       
                        <div class="card-body">
                            <div class="table-responsive-lg">
                                <div class="rowmin row mar-b10">
                                    <div class="col-xl-1 col-md-1">
                                        <div class="form-group">
                                            <label for="email2" class="width100px mar-t4">Employee</label>


                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4">
                                        <div class="select2-input mar-t1">
                                            <select class="form-control" id="Userid" name="basic">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-3">
                                        <div class="form-group">
                                            <label for="email2" class="width30px"></label>
                                            <button class="btn btn-primary btn-sm  mar-t2" onclick="CreateRole()">Manage Role</button>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="rowmin row">
                                        <div class="col-md-4" id="product">
                                            <div class="loader1"></div>
                                            <div class="row">
                                                <div class="col-md-18 padd-l5 padd-r5">
                                                    <div class="panel">
                                                        <div class="panel-heading text-center panelbg-1">Roles</div>
                                                        <div class="demo">
                                                            <ul class="clear">
                                                                @foreach (var items in ViewBag.UserRoles)
                                                                {
                                                                    <li data-id="@items" class="ui-draggable ui-draggable-handle">
                                                                        <a href="#"> @items </a>
                                                                        <input type='hidden' id='hdnuse' value='false' />
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4" id="sidebar">

                                            <div class="panel">
                                                <div class="panel-heading text-center" id="hdntitle">Authorized  Roles</div>

                                                <div class="basket">
                                                    <div class="basket_list" id="pri1">


                                                        <ul id="pr1" class="height300px">
                                                        </ul>
                                                    </div>
                                                </div>



                                                <div class="card-action">
                                                    <button class="btn btn-info btn-sm" id="btnsave">Save</button>
                                                    <button class="btn btn-danger btn-sm" id="btnclear">Clear</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                </div>

                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>

    <div class="modal fade" id="NewRole">
        <div class="modal-dialog modal-lg" style=" width :900px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4><strong> <span style="color:white">Manage Role</span></strong> </h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">

                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row addwidgetclass mar-b10">
                                <div class="col-md-10 padd-0">

                                    <div class="form-group">
                                        <label for="email2" class="width100px">Role Name :</label>
                                        <input type="hidden" id="RoleId" />
                                        <input type="text" class="form-control width200px" id="RoleName" placeholder="Enter Role Name">

                                    </div>

                                    <div class="form-group">
                                        <label for="email2" class="width100px"></label>
                                        <div class="mar-t7"><button type="button" data-target="#myModal" class="btn btn-info submitbtn add-new" id="SaveRole">Create Role</button></div>

                                    </div>

                                    <div class="form-group" style="width:100px;"></div>

                                    <div class="form-group">
                                        <label for="search" class="width100px">Search</label>
                                        <input type="text" class="form-control width180px" id="txtSearchRole" placeholder="Search for names..">
                                    </div>

                                </div>

                            </div>


                            <div class="row">
                                <table class="table table-bordered" id="tblItem">
                                    <thead>
                                        <tr>
                                            <th class="width20px">Sr.No</th>
                                            <th class="width100px">Role Name</th>
                                            <th class="width100px">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="setRolesList"></tbody>
                                </table>
                            </div>

                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<script type="text/javascript">


    $(document).ready(function () {
        // To bind Roles on PageLoad
        //GetRoles();
        $(".loader1").show();
        UserRole.initialize();
       // $('.scrollbar-inner').scrollbar();
        $(".loader1").hide();


    });



    /// This is to OPEN Create Role pop-up window
    function CreateRole() {
        $("#NewRole").modal();
        // To bind Roles on PageLoad
        GetRoles();
    }

    function GetRoles() {
        debugger
        $('#setRolesList').html('');

        $.get("/UserRoles/GetRoles", null, DataBind);
        function DataBind(Roles) {
            debugger;
            var AppendRoles = $('#setRolesList');
            for (var i = 0; i < Roles.length; i++) {
                debugger;
                var Data = "<tr class='row_ >" + i + "'>" +
                    "<td>" + (i + 1) + "</td>" +
                    "<td  >" + Roles[i] + "</td>"

                Data = Data + "<td> <button type='button' title='Delete' data-toggle='tooltip' class='btn btn-danger delete' id='btn_DeleteRole' ><i class='fas fa-trash-alt'></i></button></td ></tr >";

                "</tr>";

                AppendRoles.append(Data);

            }
        }
    }


    $('#SaveRole').click(function () {
        debugger
        if ($("#RoleName").val() == "") {
            alert('please enter Role');
            $("#RoleName").focus();
            return false;
        }
        $.ajax({
            type: "Post",
            url: "/UserRoles/CreateRole",
            data: "{'RoleName':'" + $("#RoleName").val() + "'}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                debugger;
                if (result.Success == true) {
                    RedDotAlert_Success(result.Message);
                    $("#RoleName").val('');
                    GetRoles();
                }
                else {
                    RedDotAlert_Error(result.Message);
                    $("#RoleName").val('');
                }
            }
        });
    });


    $('#setRolesList').on('click', '#btn_DeleteRole', function () {

        var Role = $(this).closest("tr").find('td:eq(1)').text();

        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })
        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                $.getJSON("/UserRoles/DeleteRole", { RoleName: Role }).done(function (data) {
                    if (data.Success == true) {
                        RedDotAlert_Success(data.Message);
                        $("#RoleName").val('');
                        GetRoles();
                    }
                    else {
                        RedDotAlert_Error(data.Message);
                        $("#RoleName").val('');
                    }

                });
                //swalWithBootstrapButtons.fire(
                //    'Deleted!',
                //    'Your Record  has been deleted.',
                //    'success'
                //)
            }
            else if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your Record  is safe :)',
                    'error'
                )
            }
        })

    });


    $("#txtSearchRole").on("keyup", function () {
        var value = $(this).val().toLowerCase();

        $("#setRolesList tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });



</script>

<style>

    .selected {
        background-color: #4af !important;
    }
</style>

