/* =========================================================
 * CSS Just for Extra Style purpose
 =========================================================*/
 
 
 
 

.redtitle {color:#e7483e; font-size:24px; font-weight:600;}

table.dataTable {margin-bottom:25px!important; margin-top:25px!important;}

table.dataTable thead {background-color:rgba(0,0,0,.05);}

.table-striped tbody tr:nth-of-type(even) {background-color:rgba(0,0,0,.02);}

.table-striped tbody tr:nth-of-type(odd) {background-color:transparent;}

.table thead th {font-size:15px;}

.form-button-action .btn-lg {color:#007bff!important;}

.form-button-action .btn-lg, .form-button-action .btn {font-size:18px; padding:10px 10px;} 

.fw-mediumbold {color:#e7483e; font-size:20px; font-weight:600!important;}

.dropdown-toggle {padding:15px 0 0; background:transparent; font-size:16px;}

.form-group-default {overflow:visible;}

.dropdown-toggle::after {display:none;}

.dropdown-menu {padding:0 0; text-align:left;}

.form-group-default .multiselect-container>li>a>label {font-size:12px!important;}

.multiselect-container>li>a>label {margin:0; font-size:12px!important; height:100%; cursor:pointer; font-weight:400; padding:10px 20px;}

.multiselect-container>li.active>a>label, .multiselect-container>li.active>a:focus>label, .multiselect-container>li.active>a:hover>label {
color:#ffffff!important; text-decoration:none; background-color:#337ab7; outline:0;}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {color:#ffffff; text-decoration:none; background-color: #337ab7; outline:0;}

.multiselect-container>li>a>label>input[type=checkbox] {margin-right:5px; margin-bottom:0;}




/* ==================== SOR - Code generator page =================== */

.redbg {background-color:#e7483e;}

.whttitle {color:#ffffff;}

.close.whtcolor {color:#ffffff;}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}
button {
  cursor: pointer;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (min-width:576px) {
.bigbox {max-width:1300px;}
}
