@model RDDStaffPortal.DAL.DataModels.SAP.RDD_OSOR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<!--Sales Order-->
<h2>Index</h2>
<div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <div class="col-md-6 col-lg-6 p-0"><h4 class="page-title">Sales Order</h4></div>
                <div class="col-xl-1 col-md-1 ml-auto text-right p-0">
                    <button class="btn btn-info btn-sm">Submit</button>
                    <button class="btn btn-danger btn-sm">Cancel</button>
                </div>


            </div>
            <div class="rowmin">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body salesorder-section">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Database :</label>
                                        <div class="col-md-5 p-0">
                                            @Html.DropDownListFor(m => m.DBName, ViewBag.ddlDBList as SelectList, new { @id = "DBName", @class = "form-control form-control-sm" })

                                        </div>
                                        <div class="col-md-2 "><button class="btn btn-info btn-sm padd-5">Search</button></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Customer Code :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="txtCardCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">RDO Project :</label>
                                        <div class="col-md-7 p-0">
                                            <select class="form-control form-control-sm" id="cbRDDProject">
                                                <option>Select RDD Project</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Posting Date :</label>
                                        <div class="col-md-7 p-0">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm datepicker" id="PostingDate" name="datepicker">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Customer Name :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="txtCardName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Business Type :</label>
                                        <div class="col-md-7 p-0">
                                            <select class="form-control form-control-sm" id="cbBusinessType">
                                                <option>Select Business Type</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Delivery Date :</label>
                                        <div class="col-md-7 p-0">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-sm datepicker" id="PostingDate" name="datepicker">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Ref No. :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Invoice Pay Terms :</label>
                                        <div class="col-md-7 p-0">
                                            <select class="form-control form-control-sm" id="cbInvPayTerm">
                                                <option>Select Inv PayTerm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Document Status :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Forward Details :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Cust Pay Terms :</label>
                                        <div class="col-md-7 p-0">
                                            <select class="form-control form-control-sm" id="cbCustPayTerm">
                                                <option>Select PayTerms</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Approved By :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Sales Employee :</label>
                                        <div class="col-md-7 p-0">
                                            <select class="form-control form-control-sm" id="cbSalesEmp">
                                                <option>-No Sales Employee-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-5 col-form-label p-0">Created By :</label>
                                        <div class="col-md-7 p-0">
                                            <input type="text" class="form-control form-control-sm" id="">
                                        </div>
                                    </div>
                                </div>




                            </div>

                            <div class="row creditlimit">
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">Credit Limit</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">0 - 30</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">31 - 45</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">46 - 60</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">61 - 90</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">91+</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">Transaction Status</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-1 col-lg-1 width130px">
                                    <div class="form-group">
                                        <label for="Database" class="col-md-12 col-form-label p-0">Credit Limit Status</label>
                                        <input type="text" class="form-control form-control-sm" id="" name="" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="panel padd-10 mar-10 panel-red-border">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link mar-0 active show" id="pills-home-tab" data-toggle="pill" href="#tab-Contants" role="tab" aria-controls="pills-home" aria-selected="false">Contants</a>
                                            </li>
                                            <li class="nav-item submenu">
                                                <a class="nav-link mar-0" id="pills-profile-tab" data-toggle="pill" href="#tab-PaymentTerms" role="tab" aria-controls="pills-profile" aria-selected="false">Payment Terms</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2"><button type="button" class="btn btn-secondary btn-sm" style="margin-top:5px;"><i class="fas fa-download"></i> Download Template</button></div>
                                    <div class="col-md-1 ml-auto text-right p-0 mar-min3"><button type="button" style="margin-top:8px;" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ContantsPaymentTermsPopup"><i class="fas fa-plus"></i> Add</button></div>
                                    <div class="col-md-1 text-right p-0">
                                        <div id="headingOne" data-toggle="collapse" data-target="#ContantsPayment" aria-expanded="true" aria-controls="collapseOne" role="button" style="margin-top:10px;"><div class="plus-minus"></div></div>
                                    </div>
                                </div>
                                <div class="card-body collapse" id="ContantsPayment" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade active show" id="tab-Contants" role="tabpanel" aria-labelledby="tab-Contants">

                                            <div class="row rowmin">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <div class="reddotTable sm-form mar-t0">
                                                            <div class="reddotTableBody">
                                                                <div class="reddotTableRow odd-even-row">
                                                                    <div class="reddotTableHead"><div>Item Code</div></div>
                                                                    <div class="reddotTableHead"><div>Description</div></div>
                                                                    <div class="reddotTableHead"><div>Quantity</div></div>
                                                                    <div class="reddotTableHead"><div>Unit Price</div></div>
                                                                    <div class="reddotTableHead"><div>Discount</div></div>
                                                                    <div class="reddotTableHead"><div>Tax Code</div></div>
                                                                    <div class="reddotTableHead"><div>Total</div></div>
                                                                    <div class="reddotTableHead"><div>Warehouse</div></div>
                                                                    <div class="reddotTableHead"><div>Qty in Whe</div></div>
                                                                    <div class="reddotTableHead"><div>Qty Avalable</div></div>
                                                                    <div class="reddotTableHead"><div>Opg/Ref/Alpha</div></div>
                                                                    <div class="reddotTableHead"><div>GP</div></div>
                                                                    <div class="reddotTableHead"><div>GP %</div></div>
                                                                    <div class="reddotTableHead"><div>Action</div></div>
                                                                </div>
                                                            </div>
                                                            <div class="reddotTableBody">
                                                                <div class="reddotTableRow odd-even-row">
                                                                    <div class="reddotTableCell"><div>Item Code</div></div>
                                                                    <div class="reddotTableCell"><div>Description</div></div>
                                                                    <div class="reddotTableCell"><div>516</div></div>
                                                                    <div class="reddotTableCell"><div>16</div></div>
                                                                    <div class="reddotTableCell"><div>516</div></div>
                                                                    <div class="reddotTableCell"><div>466</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell"><div>Warehouse</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell"><div>$15516</div></div>
                                                                    <div class="reddotTableCell">
                                                                        <div>
                                                                            <button type="button" title="" data-toggle="tooltip" class="btn btn-success btn-sm btn-sm" data-original-title="Edit"> <i class="fas fa-edit"></i></button>
                                                                            <button type="button" title="" data-toggle="tooltip" class="btn btn-danger btn-sm" data-original-title="Delete"> <i class="fas fa-trash"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="tab-pane fade" id="tab-PaymentTerms" role="tabpanel" aria-labelledby="tab-PaymentTerms">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Payment Method 1 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <select class="form-control form-control-sm" id="cbPayMth1">
                                                                <option>--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Receipt/check No 1 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text" class="form-control form-control-sm" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Payment Method 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <select class="form-control form-control-sm" id="cbPayMth2">
                                                                <option>--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Receipt/check No 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text" class="form-control form-control-sm" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Remark 1 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text" class="form-control form-control-sm" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Receipt/check Date 1 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control form-control-sm datepicker" id="PostingDate" name="datepicker">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="far fa-calendar-alt"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Remark 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text" class="form-control form-control-sm" id="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Receipt/check Date 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control form-control-sm datepicker" id="PostingDate" name="datepicker">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="far fa-calendar-alt"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Currency 1 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <select class="form-control form-control-sm" id="cbCur1">
                                                                <option>--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Currency 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <select class="form-control form-control-sm" id="cbCur2">
                                                                <option>--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-3">
                                                    <div class="form-group form-inline">
                                                        <label for="Database" class="col-md-5 col-form-label p-0">Amount 2 :</label>
                                                        <div class="col-md-7 p-0">
                                                            <input type="text" class="form-control form-control-sm" id="">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">

                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-3 col-form-label p-0">Export Excel :</label>
                                        <div class="col-md-9 p-0">
                                            <div class="file-upload">
                                                <div class="file-select">
                                                    <div class="file-select-button" id="fileName"><i class="fas fa-paperclip"></i> File</div>
                                                    <div class="file-select-name" id="noFile">No file chosen...</div>
                                                    <input type="file" name="chooseFile" id="chooseFile">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="Database" class="col-md-3 col-form-label p-0">Remark :</label>
                                        <div class="col-md-9 p-0">
                                            <textarea class="form-control" id="comment" rows="3"> </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group form-inline">
                                                <label for="Database" class="col-md-5 col-form-label p-0">GP USD :</label>
                                                <div class="col-md-7 p-0">
                                                    <input type="text" class="form-control form-control-sm" id="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group form-inline">
                                                <label for="Database" class="col-md-5 col-form-label p-0">Total Before Tax :</label>
                                                <div class="col-md-7 p-0">
                                                    <input type="text" class="form-control form-control-sm" id="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group form-inline">
                                                <label for="Database" class="col-md-5 col-form-label p-0">GP % :</label>
                                                <div class="col-md-7 p-0">
                                                    <input type="text" class="form-control form-control-sm" id="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group form-inline">
                                                <label for="Database" class="col-md-5 col-form-label p-0">Tax :</label>
                                                <div class="col-md-7 p-0">
                                                    <input type="text" class="form-control form-control-sm" id="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">

                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <div class="form-group form-inline">
                                                <label for="Database" class="col-md-5 col-form-label p-0">Total :</label>
                                                <div class="col-md-7 p-0">
                                                    <input type="text" class="form-control form-control-sm" id="" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>


                    </div>
                </div>


            </div>



        </div>
    </div>

</div>

<div class="modal fade" id="ContantsPaymentTermsPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pop up Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body padd-b0">
                <div class="row font-11px">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group form-inline">
                            <label for="Database" class="col-md-1 col-form-label p-0 width80px">Item Code :</label>
                            <div class="col-md-2 p-0 mar-l14">
                                <input type="text" class="form-control form-control-sm" id="">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-sm" id="">
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">WHS Code :</label>
                                <div class="col-md-7 p-0">
                                    <select class="form-control form-control-sm" id="smallSelect">
                                        <option>-- Select --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Qty :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Qty in WHS :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Qty Avalable :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Tax Code :</label>
                                <div class="col-md-7 p-0">
                                    <select class="form-control form-control-sm" id="smallSelect">
                                        <option>-- Select --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Unit Price :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Discount % :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Total :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">Opg/Ref/Alpha :</label>
                                <div class="col-md-7 p-0">
                                    <select class="form-control form-control-sm" id="smallSelect">
                                        <option>-- Select --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">GP :</label>
                                <div class="col-md-7 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="form-group form-inline">
                                <label for="Database" class="col-md-5 col-form-label p-0">GP % :</label>
                                <div class="col-md-5 p-0">
                                    <input type="text" class="form-control form-control-sm" id="">
                                </div>
                                <div class="col-md-1">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm">Add</button>
                <button class="btn btn btn-black btn-sm">Delete</button>
                <button class="btn btn-danger btn-sm">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script src="~/Scripts/Application/SalesOrder.js" type="text/javascript"></script>

@*<script>
        $(document).ready(function () {

            $('#DBName').select2({
                theme: "bootstrap",
                allowClear: true

            });
        });
    </script>*@