
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Red Dot Distribution :: Technology with a Difference</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="~/img/reddot.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/js/plugin/webfont/webfont.min.js"></script>
    <!-- CSS Files -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/atlantis.min.css" rel="stylesheet" />
    <link href="~/Content/fonts.min.css" rel="stylesheet" />
    @*<link href="~/Content/demo.css" rel="stylesheet" />*@

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/Content/reddot.css">
    <link href="~/Content/reddot.css" rel="stylesheet" />



    <link href="~/Scripts/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.jqueryui.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Scripts/sweetalret/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">*@
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            <div class="logo-header">
                <a href="index.html" class="logo">
                    <img src="~/img/reddot-logo.png" alt="navbar brand" class="navbar-brand">
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link menu-icon-c" data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fas fa-th"></i>
                            </a>
                            <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
                                <div class="quick-actions-header">
                                    <span class="title mb-1">Quick Menu</span>
                                </div>
                                <div class="quick-actions-scroll scrollbar-outer">
                                    <div class="quick-actions-items">
                                        <div class="row m-0">
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-danger rounded-circle">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </div>
                                                    <span class="text">Calendar</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-warning rounded-circle">
                                                        <i class="fas fa-map"></i>
                                                    </div>
                                                    <span class="text">Maps</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-info rounded-circle">
                                                        <i class="fas fa-file-excel"></i>
                                                    </div>
                                                    <span class="text">Reports</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-success rounded-circle">
                                                        <i class="fas fa-envelope"></i>
                                                    </div>
                                                    <span class="text">Emails</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-primary rounded-circle">
                                                        <i class="fas fa-file-invoice-dollar"></i>
                                                    </div>
                                                    <span class="text">Invoice</span>
                                                </div>
                                            </a>
                                            <a class="col-6 col-md-4 p-0" href="#">
                                                <div class="quick-actions-item">
                                                    <div class="avatar-item bg-secondary rounded-circle">
                                                        <i class="fas fa-credit-card"></i>
                                                    </div>
                                                    <span class="text">Payments</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown hidden-caret">
                            <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell menu-icon-c"></i>
                                <span class="notification">4</span>
                            </a>
                            <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                                <li>
                                    <div class="dropdown-title">You have 4 new notification</div>
                                </li>
                                <li>
                                    <div class="notif-scroll scrollbar-outer">
                                        <div class="notif-center">
                                            <a href="#">
                                                <div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Employee Registration is ready
                                                    </span>
                                                    <span class="time">1 day ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        sales dashboard is deployed
                                                    </span>
                                                    <span class="time">1 day ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-img">
                                                    <img src="~/img/profile.jpg" alt="Img Profile">
                                                </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Profile edit is in progress
                                                    </span>
                                                    <span class="time">1 day ago</span>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>
                                                <div class="notif-content">
                                                    <span class="block">
                                                        Check notification for updates
                                                    </span>
                                                    <span class="time">5 hours ago</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg"><img src="~/img/profile.jpg" alt="image profile" class="avatar-img rounded"></div>
                                            <div class="u-text">
                                                <h6>
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <b> <span> Welcome </span> @User.Identity.Name.ToUpper() </b>;
                                                    }
                                                </h6>
                                                @*<p class="text-muted">hello@example.com</p>*@
                                                <a href="/HR/Employees/ViewProfile" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/HR/Employees/ViewProfile">My Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        @using (Html.BeginForm("/SignOut", "Account", new { area = "" }, FormMethod.Post, new { @class = "dropdown-item", @role = "form" }))
                                        {
                                            <a href="javascript:;" onclick="document.forms[0].submit();">Sign Out</a>
                                        }

                                    </li>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-primary">
                        <li class="nav-item active">
                            @*<a data-toggle="collapse"  href="@Url.Action("Index","Dashboard" )"  class="collapsed" aria-expanded="false">
                                    <i class="fas fa-home"></i>   <p>Dashboard</p>
                                </a>*@

                            <a href="/Dashboard/Index">
                                <i class="fas fa-home"></i>   <p>Dashboard</p>
                            </a>

                        </li>
                        <li class="nav-section"> </li>
                        @*<li class="nav-item">
                                <a data-toggle="collapse" href="#Admin">
                                    <i class="fas fa-user menu-icon-c"></i> <p>Admin</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Admin">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="#">
                                                <span class="sub-item">All Admin Setups</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>*@



                        @*<li class="nav-item">
                                <a data-toggle="collapse" href="#Admin">
                                    <i class="fas fa-user menu-icon-c"></i> <p>Admin</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Admin">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a  href="/Admin/Menus/Index">Menu Master</a>
                                        </li>
                                        <li>
                                            <a  href="/Admin/Users/Index">User</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>*@

                        @{ Html.RenderAction("GetMenuTreeMenu", "Account", new { area = "" }); }|
                        @*<li class="nav-item">
                                <a data-toggle="collapse" href="#Admin">
                                    <i class="fas fa-user menu-icon-c"></i> <p>Admin</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Admin">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="#">
                                                <span class="sub-item">All Admin Setups</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#HR">
                                    <i class="fas fa-user-tie menu-icon-c"></i> <p>HR</p><span class="caret"></span>
                                </a>
                                <div class="collapse" id="HR">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Employee Master</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Apply Leaves</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Apply Loans</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Assets List</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Indent and Setups</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#Sales">
                                    <i class="fas fa-chart-bar menu-icon-c"></i> <p>Sales</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Sales">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">SOR</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Sales Reports</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#Finance">
                                    <i class="fas fa-money-bill-alt menu-icon-c"></i> <p>Finance</p><span class="caret"></span>
                                </a>
                                <div class="collapse" id="Finance">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">PV</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Customers Status</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#Logistick">
                                    <i class="fas fa-shipping-fast menu-icon-c"></i> <p>Logistick</p><span class="caret"></span>
                                </a>
                                <div class="collapse" id="Logistick">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">PO</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Logistic Reports</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Order Tracking</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#Marketing">
                                    <i class="fas fa-bullhorn menu-icon-c"></i> <p>Marketing</p><span class="caret"></span>
                                </a>
                                <div class="collapse" id="Marketing">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Marketing Plan List</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">New Plan</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Setup</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#DailyReport">
                                    <i class="fas fa-file-alt menu-icon-c"></i> <p>Daily Report</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="DailyReport">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Submit Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">View Report</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">View Score Card</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#TargetsForcos">
                                    <i class="fas fa-crosshairs menu-icon-c"></i> <p>Targets & Forcost</p><span class="caret"></span>
                                </a>
                                <div class="collapse" id="TargetsForcos">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Country Target Quarterly</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Monthly</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Sales Person Target Quarterly</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#Report">
                                    <i class="fas fa-file-alt menu-icon-c"></i> <p>Report</p> <span class="caret"></span>
                                </a>
                                <div class="collapse" id="Report">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="Report1.html">
                                                <span class="sub-item">Report 1</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="Report2.html">
                                                <span class="sub-item">Report 2</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </li>*@

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        <!--Start : Add page body here -->
        @RenderBody()
        <!--End : Add page body here -->

    </div>

    @*<div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Logo Header</h4>
                        <div class="btnSwitch">
                            <button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
                            <button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
                            <br />
                            <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                            <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="custom-toggle">
                <i class="flaticon-settings"></i>
            </div>
        </div>*@



    <div class="custom-template">
        <div class="title">Settings</div>
        <div class="custom-content">
            <div class="switcher">
                <div class="switch-block">
                    <h4>Logo Header</h4>
                    <div class="btnSwitch">
                        <button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
                        <button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="green"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="red"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="white"></button>
                        <br />
                        <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
                        <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Navbar Header</h4>
                    <div class="btnSwitch">
                        <button type="button" class="changeTopBarColor" data-color="dark"></button>
                        <button type="button" class="changeTopBarColor" data-color="blue"></button>
                        <button type="button" class="changeTopBarColor" data-color="purple"></button>
                        <button type="button" class="changeTopBarColor" data-color="light-blue"></button>
                        <button type="button" class="changeTopBarColor" data-color="green"></button>
                        <button type="button" class="changeTopBarColor" data-color="orange"></button>
                        <button type="button" class="changeTopBarColor" data-color="red"></button>
                        <button type="button" class="changeTopBarColor" data-color="white"></button>
                        <br />
                        <button type="button" class="changeTopBarColor" data-color="dark2"></button>
                        <button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
                        <button type="button" class="changeTopBarColor" data-color="purple2"></button>
                        <button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
                        <button type="button" class="changeTopBarColor" data-color="green2"></button>
                        <button type="button" class="changeTopBarColor" data-color="orange2"></button>
                        <button type="button" class="changeTopBarColor" data-color="red2"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Sidebar</h4>
                    <div class="btnSwitch">
                        <button type="button" class="selected changeSideBarColor" data-color="white"></button>
                        <button type="button" class="changeSideBarColor" data-color="dark"></button>
                        <button type="button" class="changeSideBarColor" data-color="dark2"></button>
                        <button type="button" class="changeSideBarColor" data-color="dark2"></button>
                        <button type="button" class="changeSideBarColor" data-color="red"></button>
                    </div>
                </div>
                <div class="switch-block">
                    <h4>Background</h4>
                    <div class="btnSwitch">
                        <button type="button" class="changeBackgroundColor" data-color="bg2"></button>
                        <button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
                        <button type="button" class="changeBackgroundColor" data-color="bg3"></button>
                        <button type="button" class="changeBackgroundColor" data-color="dark"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-toggle">
            <i class="flaticon-settings"></i>
        </div>
    </div>
    <!--   Core JS Files   -->
   

    <script src="~/js/core/jquery.3.2.1.min.js"></script>



    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- Moment JS -->
    <script src="~/js/plugin/moment/moment.min.js"></script>


    <!-- Bootstrap Toggle -->
    <script src="~/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Chart JS -->
    <script src="~/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="~/js/plugin/chart-circle/circles.min.js"></script>
    @*<script src="js/canvasjs.min.js"></script>*@
    @*<script src="~/Scripts/jquery.canvasjs.min.js"></script>
        <script src="~/Scripts/canvasjs.min.js"></script>*@
    @*datatable*@
    <script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/js/dataTables.bootstrap.js"></script>



    <!-- DateTimePicker -->
    <script src="~/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>
    @*Select2*@
    <script src="~/js/plugin/select2/select2.full.min.js"></script>
    <!-- Bootstrap Tagsinput -->
    <script src="~/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

    <!-- Atlantis JS -->
    <script src="~/js/atlantis.min.js"></script>
    <script src="~/js/setting-demo.js"></script>
    <script src="~/js/demo.js"></script>


    <script src="~/js/plugin/select2/select2.full.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/js/buttons.flash.min.js"></script>
    <script src="~/Scripts/datatables/buttons.colvis.js"></script>
    <script src="~/Scripts/datatables/js/jszip.min.js"></script>
    <script src="~/Scripts/datatables/js/pdfmake.min.js"></script>
    <script src="~/Scripts/datatables/js/vfs_fonts.js"></script>
    <script src="~/Scripts/datatables/js/buttons.print.min.js"></script>
    <script src="~/Scripts/datatables/js/buttons.html5.min.js"></script>

    <script src="~/Scripts/sweetalret/sweetalert2.all.min.js"></script>

    @*<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/VoiceRec/speechRecognition.js"></script>
    <script type="text/javascript" src="~/Scripts/VoiceRec/controller.js"></script>
    @*voice recogngition*@
    @*<script type="text/javascript" src="~/Scripts/VoiceRec/jquery.min.js"></script>
        <script type="text/javascript" src="~/Scripts/VoiceRec/speechRecognition.js"></script>
        <script type="text/javascript" src="~/Scripts/VoiceRec/controller.js"></script>*@
    @*--end voice-*@

    <script src="~/Scripts/RedDotUtility.js"></script>

    <script>
        $('a.collapsed das').on("click", function () {
            debugger;

        });
                                                    //$('#ulid li').removeAttr('class','');
                                                    //$('#ulid li a').removeAttr('data-toggle', '');

    </script>

</body>
</html>